@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  .font-outline {
    -webkit-text-stroke: 2.5px black;
    background-color: transparent;
  }
  .font-outline-sm {
    -webkit-text-stroke: 0.5px black;
    background-color: transparent;
  }
}

