@tailwind base;
@tailwind components;
@tailwind utilities;


.logo-1-icon {
  position: relative;
  width: 39.9px;
  height: 40px;
  overflow: hidden;
  flex-shrink: 0;
}
.personal {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: capitalize;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-xs);
}
.about-me1 {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: capitalize;
  font-weight: 600;
}
.about-me,
.taskbaar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.taskbaar {
  gap: var(--gap-13xl);
}
.resume {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 24px;
  font-weight: 600;
}
.download-icon {
  position: relative;
  width: 20px;
  height: 20px;
  overflow: hidden;
  flex-shrink: 0;
}
.button,
/* .container, */
.header {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.button {
  border-radius: var(--br-9xs);
  background-color: var(--primary-black);
  height: 56px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  gap: 8px;
  color: var(--primary-white);
}
/* .container, */
.header {
  overflow: hidden;
}
/* .container {
  width: 1280px;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-13xl);
} */
.header {
  width: 1440px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-5xl) var(--padding-61xl);
  font-size: var(--heading-h5-bold-size);
}
.social-icon {
  position: relative;
  width: 20px;
  height: 20px;
}
.button1 {
  border-radius: var(--br-9xs);
  background-color: var(--primary-black);
  width: 56px;
  height: 56px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
  box-sizing: border-box;
}
.social-icon1 {
  position: relative;
  width: 20px;
  height: 20px;
  object-fit: cover;
}
.button-parent,
.button2 {
  display: flex;
  flex-direction: row;
}
.button2 {
  border-radius: var(--br-9xs);
  border: 2px solid var(--primary-black);
  box-sizing: border-box;
  width: 58px;
  height: 58px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base);
}
.button-parent {
  margin: 0 !important;
  position: absolute;
  top: 620px;
  left: 112px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 4px 0;
  gap: var(--gap-13xl);
  z-index: 0;
}
.evren-shah,
.hello-iam {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 56px;
}
.evren-shah {
  font-weight: 800;
}
.hello-iam-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.developer {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 56px;
  font-weight: 800;
  color: transparent;
  -webkit-text-stroke: 3px #000;
}
.frame-group {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-xl);
}
.im-evren-shah {
  align-self: stretch;
  position: relative;
  font-size: var(--heading-h6-semibold-size);
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--zinc-500);
}
.frame-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-13xl);
}
.banner,
.banner-child {
  overflow: hidden;
  flex-shrink: 0;
}
.banner {
  width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
}
.banner-child {
  position: absolute;
  margin: 0 !important;
  top: 0;
  left: 0;
  width: 889px;
  height: 596px;
  z-index: 0;
}
.banner1 {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}
.container1 {
  width: 1280px;
  flex-shrink: 0;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
  z-index: 1;
}
.container1,
/* .hero-section,
.row {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.hero-section {
  width: 1440px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-41xl) var(--padding-61xl);
  box-sizing: border-box;
  position: relative;
} */
.row {
  align-self: stretch;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xl) 0;
  gap: var(--gap-base);
}
.icon-git {
  position: relative;
  width: 56px;
  height: 56px;
  overflow: hidden;
  flex-shrink: 0;
}
.javascript {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: capitalize;
}
.skills2 {
  border-radius: var(--br-9xs);
  background-color: var(--primary-white);
  border: 2px solid var(--primary-black);
  box-sizing: border-box;
  width: 186px;
  height: 186px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-5xl);
  gap: var(--gap-13xl);
}
.icon-javscript {
  position: relative;
  width: 56px;
  height: 56px;
}
.column,
.skills3 {
  display: flex;
  align-items: center;
}
.skills3 {
  border-radius: var(--br-9xs);
  background-color: var(--primary-black);
  border: 2px solid var(--primary-black);
  box-sizing: border-box;
  width: 186px;
  height: 186px;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-5xl);
  gap: var(--gap-13xl);
  color: var(--primary-white);
}
.column {
  align-self: stretch;
  overflow: hidden;
  flex-direction: row;
  justify-content: space-between;
  padding: var(--padding-xl) 0;
}
.container2,
.row1,
.skills {
  display: flex;
  flex-direction: column;
}
.row1 {
  align-self: stretch;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  text-align: center;
  font-size: var(--heading-h5-bold-size);
}
.container2,
.skills {
  overflow: hidden;
  box-sizing: border-box;
}
.container2 {
  width: 1280px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-13xl);
  gap: var(--gap-xl);
}
.skills {
  width: 1440px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-41xl) var(--padding-61xl);
}
.google-icon {
  position: relative;
  width: 32px;
  height: 32px;
  overflow: hidden;
  flex-shrink: 0;
}
.lead-software-engineer {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 28px;
  font-weight: 600;
}
.google-parent {
  align-self: stretch;
  width: 1018px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-11xl);
}
.nov-2019- {
  position: relative;
  font-size: var(--heading-h6-semibold-size);
  letter-spacing: -0.02em;
  line-height: 20px;
  font-weight: 600;
  color: var(--zinc-300);
}
.frame-container {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.as-a-senior {
  align-self: stretch;
  position: relative;
  font-size: var(--heading-h6-semibold-size);
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--zinc-300);
  text-align: left;
}
.experience1 {
  align-self: stretch;
  border-radius: var(--br-3xs);
  border: 1px solid var(--zinc-500);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-11xl) var(--padding-5xl);
  gap: var(--gap-9xl);
}
.youtube-icon {
  position: relative;
  width: 32px;
  height: 32px;
}
.as-a-senior1 {
  align-self: stretch;
  position: relative;
  font-size: var(--heading-h6-semibold-size);
  letter-spacing: 0.02em;
  line-height: 24px;
  color: var(--zinc-300);
  white-space: pre-wrap;
  text-align: left;
}
.experience2,
.row3 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.experience2 {
  border-radius: var(--br-3xs);
  background-color: var(--zinc-800);
  padding: var(--padding-11xl) var(--padding-5xl);
  gap: var(--gap-9xl);
}
.row3 {
  overflow: hidden;
  padding: var(--padding-21xl) var(--padding-5xl);
  gap: var(--gap-13xl);
  text-align: center;
  font-size: var(--heading-h4-semibold-size);
}
.container3,
.testimonial {
  overflow: hidden;
  display: flex;
  box-sizing: border-box;
}
.container3 {
  width: 1280px;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 var(--padding-13xl);
  gap: var(--gap-xl);
}
.testimonial {
  background-color: var(--primary-black);
  width: 1440px;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-41xl) var(--padding-61xl);
  color: var(--primary-white);
}
.container-child {
  position: relative;
  width: 525.4px;
  height: 572px;
}
.my-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  gap: var(--gap-base);
}
.im-a-passionate {
  position: relative;
  letter-spacing: 0.02em;
  line-height: 24px;
  display: inline-block;
  width: 610px;
}
.frame-parent2,
.im-a-passionate-self-proclai-parent {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: var(--gap-xl);
}
.im-a-passionate-self-proclai-parent {
  justify-content: center;
  font-size: var(--heading-h6-semibold-size);
  color: var(--zinc-500);
}
.frame-parent2 {
  height: 572px;
  justify-content: flex-start;
}
.about-me8 {
  width: 1440px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-41xl) var(--padding-61xl);
  box-sizing: border-box;
}
.image-771-icon {
  position: relative;
  border-radius: 18.76px;
  width: 530px;
  height: 397.7px;
  object-fit: cover;
}
.image {
  width: 594px;
  height: 476px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.crypto-screener-application,
.div {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
}
.div {
  line-height: 56px;
  font-weight: 800;
}
.crypto-screener-application {
  font-size: var(--heading-h2-bold-size);
  line-height: 40px;
}
.parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-9xl);
}
.details,
.project-1 {
  overflow: hidden;
  display: flex;
}
.details {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.project-1 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-xl) 0;
  gap: var(--gap-21xl);
}
.when-an-unknown {
  margin: 0;
}
.image1 {
  width: 594px;
  height: 476px;
  overflow: hidden;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
.parent1,
.project {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.parent1 {
  align-self: stretch;
  gap: var(--gap-11xl);
}
.project {
  background-color: var(--primary-black);
  width: 1440px;
  overflow: hidden;
  padding: var(--padding-41xl) var(--padding-61xl);
  box-sizing: border-box;
  color: var(--primary-white);
}
.frame-child,
.frame-item {
  position: relative;
  border-radius: 50%;
  z-index: 0;
}
.frame-child {
  width: 96px;
  height: 96px;
  object-fit: cover;
}
.frame-item {
  background-color: var(--primary-black);
  width: 30px;
  height: 30px;
}
.ellipse-group,
.vector-icon {
  margin: 0 !important;
  position: absolute;
  z-index: 1;
}
.vector-icon {
  height: 31%;
  width: 43%;
  top: 33.33%;
  right: 27%;
  bottom: 35.67%;
  left: 30%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.ellipse-group {
  top: 66px;
  left: 66px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.ellipse-parent {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: var(--gap-3xs);
}
.i-recently-had {
  align-self: stretch;
  position: relative;
  letter-spacing: 0.02em;
  line-height: 20px;
}
.testimonial-child {
  position: relative;
  background-color: var(--primary-black);
  width: 120px;
  height: 2px;
}
.designer,
.evren-shah1 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  font-weight: 600;
}
.evren-shah1 {
  font-size: var(--heading-h5-bold-size);
  line-height: 24px;
  text-transform: capitalize;
}
.designer {
  line-height: 20px;
  color: var(--zinc-500);
}
.testimonial3 {
  border-radius: var(--br-xl);
  background-color: var(--primary-white);
  box-shadow: 0 6px 8px -6px rgba(24, 39, 75, 0.12),
    0 8px 16px -6px rgba(24, 39, 75, 0.08);
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
}
.ellipse-div,
.testimonial-item {
  position: relative;
  background-color: var(--primary-white);
}
.ellipse-div {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  z-index: 0;
}
.testimonial-item {
  width: 120px;
  height: 2px;
}
.designer1 {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 20px;
  font-weight: 600;
}
.testimonial4 {
  border-radius: var(--br-xl);
  background-color: var(--primary-black);
  box-shadow: 0 6px 8px -6px rgba(24, 39, 75, 0.12),
    0 8px 16px -6px rgba(24, 39, 75, 0.08);
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--padding-21xl);
  box-sizing: border-box;
  gap: var(--gap-5xl);
  color: var(--primary-white);
}
.row5,
.testimonial1 {
  overflow: hidden;
  display: flex;
  flex-direction: row;
}
.row5 {
  align-self: stretch;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-21xl) var(--padding-5xl);
  text-align: center;
  font-size: var(--heading-h6-semibold-size);
  color: var(--primary-neutral);
}
.testimonial1 {
  background-color: var(--primary-white);
  width: 1440px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-41xl) var(--padding-61xl);
  box-sizing: border-box;
}
.your-name {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 20px;
  display: inline-block;
  width: 452px;
  flex-shrink: 0;
}
.component-1,
.your-name-wrapper {
  display: flex;
  justify-content: flex-start;
}
.your-name-wrapper {
  border-radius: var(--br-9xs);
  border: 1.4px solid var(--primary-black);
  box-sizing: border-box;
  width: 500px;
  height: 56px;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-base) var(--padding-5xl);
}
.component-1 {
  flex-direction: column;
  align-items: flex-start;
}
.how-can-i {
  align-self: stretch;
  flex: 1;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 20px;
}
.how-can-i-help-wrapper {
  border-radius: var(--br-9xs);
  border: 1.4px solid var(--primary-black);
  box-sizing: border-box;
  width: 500px;
  height: 140px;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-5xl);
}
.button5,
.button6,
.how-can-i-help-wrapper {
  display: flex;
  flex-direction: row;
}
.button6 {
  border-radius: var(--br-9xs);
  background-color: var(--primary-black);
  height: 56px;
  align-items: center;
  justify-content: center;
  padding: var(--padding-base) var(--padding-xl);
  box-sizing: border-box;
}
.button5 {
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-5xl);
  font-size: var(--heading-h5-bold-size);
  color: var(--primary-white);
}
.column2,
.frame-parent4,
.lets-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
}
.column2 {
  flex: 1;
  overflow: hidden;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding-xl) 0;
}
.frame-parent4,
.lets-parent {
  flex-direction: row;
  justify-content: flex-start;
  gap: var(--gap-base);
}
.frame-parent4 {
  flex-direction: column;
  gap: var(--gap-xs);
}
.youremailgmailcom {
  align-self: stretch;
  position: relative;
  letter-spacing: -0.02em;
  line-height: 32px;
  font-weight: 600;
}
.text,
.youremailgmailcom-parent {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.youremailgmailcom-parent {
  justify-content: flex-start;
  gap: var(--gap-base);
  font-size: var(--heading-h3-semibold-size);
}
.text {
  flex: 1;
  justify-content: center;
  gap: var(--gap-21xl);
}
.column3,
.container7 {
  overflow: hidden;
  display: flex;
}
.column3 {
  align-self: stretch;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: var(--padding-xl) 0;
  font-size: var(--displaytext-extra-bold-size);
  color: var(--primary-black);
}
.container7 {
  width: 1280px;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 var(--padding-13xl);
  box-sizing: border-box;
}
.contact-form,
.logo-wrapper {
  display: flex;
  justify-content: flex-start;
}
.contact-form {
  background-color: var(--primary-white);
  width: 1440px;
  overflow: hidden;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-41xl) var(--padding-61xl);
  box-sizing: border-box;
  font-size: var(--heading-h6-semibold-size);
  color: var(--zinc-500);
}
.logo-wrapper {
  flex-direction: row;
  align-items: center;
}
.made-in-figma {
  position: relative;
  letter-spacing: -0.02em;
  line-height: 20px;
  font-weight: 600;
}
.boy,
.footer,
.personal-parent {
  display: flex;
  justify-content: flex-start;
}
.personal-parent {
  flex-direction: column;
  align-items: flex-end;
  gap: var(--gap-xs);
  text-align: right;
  font-size: var(--heading-h6-semibold-size);
}
.boy,
.footer {
  overflow: hidden;
  align-items: flex-start;
}
.footer {
  background-color: var(--primary-black);
  width: 1440px;
  flex-direction: row;
  padding: var(--padding-5xl) var(--padding-61xl);
  box-sizing: border-box;
  font-size: var(--heading-h5-bold-size);
  color: var(--primary-white);
}
.boy {
  position: relative;
  background-color: var(--primary-white);
  width: 100%;
  flex-direction: column;
  text-align: left;
  font-size: var(--displaytext-extra-bold-size);
  color: var(--primary-black);
  font-family: var(--heading-h6-semibold);
}
