---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import About from "../components/About.astro"
import Contact from "../components/Contact.astro"
import Footer from "../components/Footer.astro"
import Projects from "../components/Projects.astro"
import Skills from "../components/Skills.astro"
---

<Layout title="Welcome to My site">
	<main class="space-y-40 mb-40">
		<Hero/>
		<About/>
		<Projects/>
        <Skills/>
        <Contact/>
        <Footer/>
	</main>
</Layout>