---
import About from "../components/About.astro"
import 
---

<Layout title="Welcome to My site">
	<main class="space-y-40 mb-40">
		<Hero/>
		<About/>
		<Projects/>
        <Skills/>
        <Contact/>
        <Footer/>
	</main>
</Layout>