<section class="container mx-auto">
    <div class="relative flex flex-col items-center max-w-screen-xl px-4 mx-auto md:flex-row sm:px-6 p-8">
        <div class="row items-center py-5 md:w-5/12 md:pb-20 md:pt-10">
            <div class="text-left space-y-3">
                <form class="ml-auo space-y-4">
                    <input type='text' placeholder='Name'
                        class="w-full rounded-md py-2.5 px-4 border-black border-2 placeholder:text-slate-400" />
                    <input type='email' placeholder='Email'
                        class="w-full rounded-md py-2.5 px-4 border-black border-2 placeholder:text-slate-400" />
                    <input type='text' placeholder='Subject'
                        class="w-full rounded-md py-2.5 px-4 border-black border-2 placeholder:text-slate-400" />
                    <textarea placeholder='Message' rows="6"
                        class="w-full rounded-md px-4 text-sm pt-2.5 border-black border-2 placeholder:text-slate-400"></textarea>
                    <button type='button'
                        class="text-white bg-black font-semibold rounded-md text-sm px-4 py-2.5 w-full">Get In Touch
                    </button>
                </form>
            </div>
        </div>
        <div class="flex items-center py-5 md:w-6/12 md:pb-20 md:pt-10 md:pl-10">
            <div class="text-left space-y-3">
                <h2 class="text-4xl font-bold sm:text-4xl md:text-5xl">
                    Let’s <span class="font-medium">talk</span> for <br> Something special
                </h2>
                <p class="text-base text-gray-600 mt-3">
                    I seek to push the limits of creativity to create high-engaging, user-friendly, and memorable interactive experiences.
                </p>
                <p class="text-2xl text-black-600 ">
                    Youremail@gmail.com <br>
                    1234567890
                </p>
            </div>
        </div>
    </div>
</section>


<div class="contact-form">
    <div class="container7">
        <div class="column2">
        <div class="frame-group">
            <div class="component-1">
            <div class="your-name-wrapper">
                <div class="your-name">Your name</div>
            </div>
            </div>
            <div class="component-1">
            <div class="your-name-wrapper">
                <div class="your-name">Email</div>
            </div>
            </div>
            <div class="component-1">
            <div class="your-name-wrapper">
                <div class="your-name">Your website (If exists)</div>
            </div>
            </div>
            <div class="component-1">
            <div class="how-can-i-help-wrapper">
                <div class="how-can-i">How can I help?*</div>
            </div>
            </div>
            <div class="button5">
            <div class="button6">
                <div class="resume">Get In Touch</div>
            </div>
            <div class="button1">
                <img
                class="social-icon"
                alt=""
                src="/social-icon.svg"
                />
            </div>
            <div class="button2">
                <img
                class="social-icon1"
                alt=""
                src="/social-icon@2x.png"
                />
            </div>
            <div class="button2">
                <img
                class="social-icon"
                alt=""
                src="/social-icon.svg"
                />
            </div>
            <div class="button2">
                <img
                class="social-icon"
                alt=""
                src="/social-icon.svg"
                />
            </div>
            </div>
        </div>
        </div>
        <div class="column3">
        <div class="text">
            <div class="frame-group">
            <div class="frame-parent4">
                <div class="lets-parent">
                <div class="evren-shah">Let’s</div>
                <div class="developer">talk</div>
                <div class="evren-shah">for</div>
                </div>
                <div class="div">Something special</div>
            </div>
            <div class="im-evren-shah">
                I seek to push the limits of creativity to create
                high-engaging, user-friendly, and memorable interactive
                experiences.
            </div>
            </div>
            <div class="youremailgmailcom-parent">
            <div class="youremailgmailcom">Youremail@gmail.com</div>
            <div class="youremailgmailcom">1234567890</div>
            </div>
        </div>
        </div>
    </div>
</div>