<section class="relative flex flex-col items-center max-w-screen-xl px-4 mx-auto md:flex-row p-8 md:py-[60px] md:px-20" id="contact">
    <div class="row items-center py-5 md:w-5/12 md:pb-20 md:pt-10">
        <div class="text-left space-y-3">
            <form class="ml-auo space-y-4">
                <input type='text' placeholder='Your Name'
                    class="w-full rounded-md py-2.5 px-4 border-black border-2 placeholder:text-slate-400" />
                <input type='email' placeholder='Your Email'
                    class="w-full rounded-md py-2.5 px-4 border-black border-2 placeholder:text-slate-400" />
                <input type='text' placeholder='Subject'
                    class="w-full rounded-md py-2.5 px-4 border-black border-2 placeholder:text-slate-400" />
                <textarea placeholder='How can I help?' rows="6"
                    class="w-full rounded-md px-4 pt-2.5 border-black border-2 placeholder:text-slate-400"></textarea>
                <div class="grid grid-rows-1 grid-flow-col gap-2">
                    <button type='button'
                        class="text-white bg-black font-semibold rounded-md text-sm px-4 py-2.5 w-full">Get In Touch
                    </button>
                </div>
            </form>
        </div>
    </div>
    <div class="flex items-center py-5 md:w-6/12 md:pb-20 md:pt-10 md:pl-20">
        <div class="text-left space-y-3">
            <h2 class="text-4xl font-bold sm:text-4xl md:text-6xl">
                Let’s <span class="text-white font-sans font-outline">talk</span> for <br> Something special
            </h2>
            <p class="text-base text-gray-600 pt-3">
                I seek to push the limits of creativity to create high-engaging, user-friendly, and memorable interactive experiences.
            </p>
            <p class="text-2xl font-medium md:pt-8">
                Youremail@email.com <br>
                1234567890
            </p>
        </div>
    </div>
</section>