<section class="container mx-auto">
    <div class="relative flex flex-col items-center max-w-screen-xl px-4 mx-auto md:flex-row sm:px-6 p-8">
        <div class="row items-center py-5 md:w-5/12 md:pb-20 md:pt-10">
            <div class="text-left space-y-3">
                <!-- <h2 class="text-4xl font-bold sm:text-4xl md:text-5xl">
                    Let’s talk for <span class="font-medium">Evren Shah</span>
                </h2>
                <h2 class="text-4xl font-bold sm:text-4xl md:text-5xl">
                    Frontend <span class="font-medium">Developer</span>
                </h2>
                <h2 class="text-4xl font-bold sm:text-4xl md:text-5xl">
                    <span class="font-medium">Based In </span>Sri Lanka
                </h2>
                <p class="font-thin text-gray-600 mt-3">
                    I'm Evren Shah Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to specimen book.
                </p> -->
            </div>
        </div>
        <div class="flex items-center py-5 md:w-7/12 md:pb-20 md:pt-10 md:pl-10">
            <div class="text-left space-y-3">
                <h2 class="text-4xl font-bold sm:text-4xl md:text-5xl">
                    Let’s <span class="font-medium">talk</span> for <br> Something special
                </h2>
                <p class="font-thin text-gray-600 mt-3">
                    I seek to push the limits of creativity to create high-engaging, user-friendly, and memorable interactive experiences.
                </p>
                <p>
                    Youremail@gmail.com <br>
                    1234567890
                </p>
            </div>
        </div>
    </div>
</section>


<div class="contact-form">
    <div class="container7">
        <div class="column2">
        <div class="frame-group">
            <div class="component-1">
            <div class="your-name-wrapper">
                <div class="your-name">Your name</div>
            </div>
            </div>
            <div class="component-1">
            <div class="your-name-wrapper">
                <div class="your-name">Email</div>
            </div>
            </div>
            <div class="component-1">
            <div class="your-name-wrapper">
                <div class="your-name">Your website (If exists)</div>
            </div>
            </div>
            <div class="component-1">
            <div class="how-can-i-help-wrapper">
                <div class="how-can-i">How can I help?*</div>
            </div>
            </div>
            <div class="button5">
            <div class="button6">
                <div class="resume">Get In Touch</div>
            </div>
            <div class="button1">
                <img
                class="social-icon"
                alt=""
                src="/social-icon.svg"
                />
            </div>
            <div class="button2">
                <img
                class="social-icon1"
                alt=""
                src="/social-icon@2x.png"
                />
            </div>
            <div class="button2">
                <img
                class="social-icon"
                alt=""
                src="/social-icon.svg"
                />
            </div>
            <div class="button2">
                <img
                class="social-icon"
                alt=""
                src="/social-icon.svg"
                />
            </div>
            </div>
        </div>
        </div>
        <div class="column3">
        <div class="text">
            <div class="frame-group">
            <div class="frame-parent4">
                <div class="lets-parent">
                <div class="evren-shah">Let’s</div>
                <div class="developer">talk</div>
                <div class="evren-shah">for</div>
                </div>
                <div class="div">Something special</div>
            </div>
            <div class="im-evren-shah">
                I seek to push the limits of creativity to create
                high-engaging, user-friendly, and memorable interactive
                experiences.
            </div>
            </div>
            <div class="youremailgmailcom-parent">
            <div class="youremailgmailcom">Youremail@gmail.com</div>
            <div class="youremailgmailcom">1234567890</div>
            </div>
        </div>
        </div>
    </div>
</div>