<div class="contact-form">
    <div class="container7">
        <div class="column2">
        <div class="frame-group">
            <div class="component-1">
            <div class="your-name-wrapper">
                <div class="your-name">Your name</div>
            </div>
            </div>
            <div class="component-1">
            <div class="your-name-wrapper">
                <div class="your-name">Email</div>
            </div>
            </div>
            <div class="component-1">
            <div class="your-name-wrapper">
                <div class="your-name">Your website (If exists)</div>
            </div>
            </div>
            <div class="component-1">
            <div class="how-can-i-help-wrapper">
                <div class="how-can-i">How can I help?*</div>
            </div>
            </div>
            <div class="button5">
            <div class="button6">
                <div class="resume">Get In Touch</div>
            </div>
            <div class="button1">
                <img
                class="social-icon"
                alt=""
                src="/social-icon.svg"
                />
            </div>
            <div class="button2">
                <img
                class="social-icon1"
                alt=""
                src="/social-icon@2x.png"
                />
            </div>
            <div class="button2">
                <img
                class="social-icon"
                alt=""
                src="/social-icon.svg"
                />
            </div>
            <div class="button2">
                <img
                class="social-icon"
                alt=""
                src="/social-icon.svg"
                />
            </div>
            </div>
        </div>
        </div>
        <div class="column3">
        <div class="text">
            <div class="frame-group">
            <div class="frame-parent4">
                <div class="lets-parent">
                <div class="evren-shah">Let’s</div>
                <div class="developer">talk</div>
                <div class="evren-shah">for</div>
                </div>
                <div class="div">Something special</div>
            </div>
            <div class="im-evren-shah">
                I seek to push the limits of creativity to create
                high-engaging, user-friendly, and memorable interactive
                experiences.
            </div>
            </div>
            <div class="youremailgmailcom-parent">
            <div class="youremailgmailcom">Youremail@gmail.com</div>
            <div class="youremailgmailcom">1234567890</div>
            </div>
        </div>
        </div>
    </div>
</div>