<section class="self-stretch bg-black overflow-hidden flex flex-row items-start justify-start md:py-[60px] md:px-20 box-border max-w-full text-left text-29xl text-white font-heading-h6-semibold lg:pt-[39px] lg:pb-[39px] lg:box-border mq825:py-[25px] mq825:px-10 mq825:box-border">
<div class="flex-1 overflow-hidden flex flex-col items-center justify-center py-0 px-8 box-border gap-[20px] max-w-full">
    <div class="self-stretch overflow-hidden flex flex-row items-center justify-center py-5 px-0 gap-[16px] mq825:flex-wrap">
    <h2 class=" text-white py-5 text-4xl font-bold sm:text-4xl md:text-5xl"><span class="font-medium">My</span> Projects</h2>
    </div>
    <div
    class="self-stretch overflow-hidden flex flex-col items-start justify-start py-10 px-6 box-border gap-[32px] max-w-full text-center text-5xl mq825:gap-[16px] mq825:pt-[26px] mq825:pb-[26px] mq825:box-border"
    >
    <div
        class="self-stretch rounded-3xs box-border flex flex-col items-start justify-start py-[30px] pr-[25px] pl-[23px] gap-[28px] max-w-full border-[1px] border-solid border-zinc-500 rounded-lg"
    >
        <div
        class="self-stretch flex flex-row items-center justify-between gap-[-48px] [row-gap:20px] max-w-full mq1450:flex-wrap"
        >
        <div
            class="w-[1018px] flex flex-row items-center justify-start gap-[30px] max-w-full mq825:flex-wrap"
        >
            <img
            class="h-8 w-8 relative overflow-hidden shrink-0"
            loading="eager"
            alt=""
            src="/public/google.svg"
            />

            <h3
            class="m-0 relative text-inherit tracking-[-0.02em] leading-[28px] font-semibold font-inherit inline-block max-w-full mq450:text-lgi mq450:leading-[22px]"
            >
            Lead Software Engineer at Google
            </h3>
        </div>
        <div
            class="relative text-base tracking-[-0.02em] leading-[20px] font-semibold text-zinc-300 z-[1] lg:ml-0"
        >
            Nov 2019 - Present
        </div>
        </div>
        <div
        class="self-stretch relative text-base tracking-[0.02em] leading-[24px] text-zinc-300 text-left"
        >
        As a Senior Software Engineer at Google, I played a pivotal role
        in developing innovative solutions for Google's core search
        algorithms. Collaborating with a dynamic team of engineers, I
        contributed to the enhancement of search accuracy and
        efficiency, optimizing user experiences for millions of users
        worldwide.
        </div>
    </div>
    <div
        class="self-stretch rounded-3xs bg-zinc-800 flex flex-col items-start justify-start py-[30px] px-6 box-border gap-[28px] max-w-full"
    >
        <div
        class="self-stretch flex flex-row items-center justify-between gap-[-53px] [row-gap:20px] max-w-full mq1450:flex-wrap"
        >
        <div
            class="w-[1018px] flex flex-row items-center justify-start gap-[30px] max-w-full mq825:flex-wrap"
        >
            <img
            class="h-8 w-8 relative"
            loading="eager"
            alt=""
            src="/public/youtube.svg"
            />

            <h3
            class="m-0 relative text-inherit tracking-[-0.02em] leading-[28px] font-semibold font-inherit inline-block max-w-full mq450:text-lgi mq450:leading-[22px]"
            >
            Software Engineer at Youtube
            </h3>
        </div>
        <div
            class="relative text-base tracking-[-0.02em] leading-[20px] font-semibold text-zinc-300 z-[1] lg:ml-0"
        >
            Jan 2017 - Oct 2019
        </div>
        </div>
        <div
        class="self-stretch relative text-base tracking-[0.02em] leading-[24px] text-zinc-300 whitespace-pre-wrap text-left"
        >
        At Youtube, I served as a Software Engineer, focusing on the
        design and implementation of backend systems for the social
        media giant's dynamic platform. Working on projects that
        involved large-scale data processing and user engagement
        features, I leveraged my expertise to ensure seamless
        functionality and scalability.
        </div>
    </div>
    <div
        class="self-stretch rounded-3xs box-border flex flex-col items-start justify-start py-[30px] pr-[25px] pl-[23px] gap-[28px] max-w-full border-[1px] border-solid border-zinc-500 rounded-lg"
    >
        <div
        class="self-stretch flex flex-row items-center justify-between gap-[-55px] [row-gap:20px] max-w-full mq1450:flex-wrap"
        >
        <div
            class="w-[1018px] flex flex-row items-center justify-start gap-[30px] max-w-full mq825:flex-wrap"
        >
            <img
            class="h-8 w-8 relative overflow-hidden shrink-0"
            loading="eager"
            alt=""
            src="/public/apple.svg"
            />

            <h3
            class="m-0 relative text-inherit tracking-[-0.02em] leading-[28px] font-semibold font-inherit inline-block max-w-full mq450:text-lgi mq450:leading-[22px]"
            >
            Junior Software Engineer at Apple
            </h3>
        </div>
        <div
            class="relative text-base tracking-[-0.02em] leading-[20px] font-semibold text-zinc-300 z-[1] lg:ml-0"
        >
            Jan 2016 - Dec 2017
        </div>
        </div>
        <div
        class="self-stretch h-[72px] relative text-base tracking-[0.02em] leading-[24px] text-zinc-300 text-left flex items-center"
        >
        During my tenure at Apple, I held the role of Software
        Architect, where I played a key role in shaping the architecture
        of mission-critical software projects. Responsible for designing
        scalable and efficient systems, I provided technical leadership
        to a cross-functional team.
        </div>
    </div>
    </div>
</div>
</section>