<div class="w-100 h-[956px] px-20 py-[60px] bg-black justify-start items-start inline-flex">
    <div class="w-[1280px] px-8 flex-col justify-center items-center gap-5 inline-flex">
        <div class="self-stretch py-5 justify-center items-center gap-4 inline-flex">
            <div class="text-white text-5xl font-normal font-['Sora'] leading-[56px]">My</div>
            <div class="text-white text-5xl font-extrabold font-['Sora'] leading-[56px]">Experience</div>
        </div>
        <div class="self-stretch h-[720px] px-6 py-10 flex-col justify-start items-start gap-8 flex">
            <div class="self-stretch h-48 px-6 py-[30px] rounded-[10px] border border-zinc-500 flex-col justify-start items-start gap-7 flex">
                <div class="self-stretch justify-between items-center inline-flex">
                    <div class="self-stretch justify-start items-center gap-[30px] flex">
                        <div class="w-8 h-8 relative"></div>
                        <div class="text-center text-white text-2xl font-semibold font-['Sora'] leading-7">Lead Software Engineer at Google</div>
                    </div>
                    <div class="text-center text-zinc-300 text-base font-semibold font-['Sora'] leading-tight">Nov 2019 - Present</div>
                </div>
                <div class="self-stretch text-zinc-300 text-base font-normal font-['Sora'] leading-normal tracking-tight">As a Senior Software Engineer at Google, I played a pivotal role in developing innovative solutions for Google's core search algorithms. Collaborating with a dynamic team of engineers, I contributed to the enhancement of search accuracy and efficiency, optimizing user experiences for millions of users worldwide.</div>
            </div>
            <div class="self-stretch h-48 px-6 py-[30px] bg-zinc-800 rounded-[10px] flex-col justify-start items-start gap-7 flex">
                <div class="self-stretch justify-between items-center inline-flex">
                    <div class="self-stretch justify-start items-center gap-[30px] flex">
                        <div class="w-8 h-8 relative"></div>
                        <div class="text-center text-white text-2xl font-semibold font-['Sora'] leading-7">Software Engineer at Youtube</div>
                    </div>
                    <div class="text-center text-zinc-300 text-base font-semibold font-['Sora'] leading-tight">Jan 2017 - Oct 2019</div>
                </div>
                <div class="self-stretch text-zinc-300 text-base font-normal font-['Sora'] leading-normal tracking-tight">At Youtube, I served as a  Software Engineer, focusing on the design and implementation of backend systems for the social media giant's dynamic platform. Working on projects that involved large-scale data processing and user engagement features, I leveraged my expertise to ensure seamless functionality and scalability.</div>
            </div>
            <div class="self-stretch h-48 px-6 py-[30px] rounded-[10px] border border-zinc-500 flex-col justify-start items-start gap-7 flex">
                <div class="self-stretch justify-between items-center inline-flex">
                    <div class="self-stretch justify-start items-center gap-[30px] flex">
                        <div class="w-8 h-8 relative"></div>
                        <div class="text-center text-white text-2xl font-semibold font-['Sora'] leading-7">Junior Software Engineer at Apple</div>
                    </div>
                    <div class="text-center text-zinc-300 text-base font-semibold font-['Sora'] leading-tight">Jan 2016 - Dec 2017</div>
                </div>
                <div class="self-stretch text-zinc-300 text-base font-normal font-['Sora'] leading-normal tracking-tight">During my tenure at Apple, I held the role of Software Architect, where I played a key role in shaping the architecture of mission-critical software projects. Responsible for designing scalable and efficient systems, I provided technical leadership to a cross-functional team.</div>
            </div>
        </div>
    </div>
</div>