<div class="footer">
    <div class="container">
        <div class="logo-wrapper">
        <div class="logo">
            <img class="logo-1-icon" alt="" src="./public/logo-1.svg" />

            <b class="personal">Personal</b>
        </div>
        </div>
        <div class="personal-parent">
        <div class="made-in-figma">@ 2019-2023 Personal</div>
        <div class="made-in-figma">Develop by Manul Thanura</div>
        </div>
    </div>
</div>

<footer class="flex justify-center px-4 bg-black bg-fixed">
    <div class="container px-6 py-6">

        <div class="flex flex-col items-center justify-between md:flex-row">
            <a href="#">
                <img class="w-auto h-7" src="./public/logo-1.svg" alt="">
            </a>

            <div class="flex mt-4 md:m-0">
                <div class="-mx-4">
                    <a href="#" class="px-4 text-sm text-gray-600 transition-colors duration-300 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400 hover:underline">About</a>
                    <a href="#" class="px-4 text-sm text-gray-600 transition-colors duration-300 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400 hover:underline">Blog</a>
                    <a href="#" class="px-4 text-sm text-gray-600 transition-colors duration-300 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400 hover:underline">News</a>
                    <a href="#" class="px-4 text-sm text-gray-600 transition-colors duration-300 dark:text-gray-200 hover:text-blue-500 dark:hover:text-blue-400 hover:underline">Contact</a>
                </div>
            </div>
        </div>
    </div>
</footer>