<footer class="flex justify-center px-4 bg-black bg-fixed bg-bottom">
    <div class="container px-6 py-6">

        <div class="flex flex-col items-center justify-between md:flex-row">
            <div class="flex items-center space-x-3 rtl:space-x-reverse">
                <img class="w-auto h-7" src="/logo-1.svg" alt="Logo">
                <p class="text-white text-xl font-bold bg-blue-700">Personal</p>
            </div>
            <div class="flex mt-4 md:m-0">
                <div class="-mx-4">
                    <div class="text-white" >@ <span id="currentYear"></span> Personal</div>
                    <div class="text-white">Made with Astro</div>
                </div>
            </div>
        </div>
    </div>
</footer>

<script>
    const year = new Date().getFullYear();
    document.getElementById("currentYear").innerHTML = `${year}`;
</script>