<div class="footer">
    <div class="container">
      <div class="logo-wrapper">
        <div class="logo">
          <img class="logo-1-icon" alt="" src="./public/logo-1.svg" />

          <b class="personal">Personal</b>
        </div>
      </div>
      <div class="personal-parent">
        <div class="made-in-figma">@ 2019-2023 Personal</div>
        <div class="made-in-figma">Made In Figma</div>
      </div>
    </div>
  </div>