<footer class="flex justify-center px-4 bg-black bg-fixed bg-bottom">
    <div class="container px-6 py-6">

        <div class="flex flex-col items-center justify-between md:flex-row">

            <img class="w-auto h-7" src="./public/logo-1.svg" alt="">

            <div class="flex mt-4 md:m-0">
                <div class="-mx-4">
                    <div class="text-white">@ 2019-2023 Personal</div>
                    <div class="text-white">Develop by Manul Thanura</div>
                </div>
            </div>
        </div>
    </div>
</footer>