<div class="hero-section">
    <div class="button-parent">
        <div class="button1">
        <img class="social-icon" alt="" src="./public/social-icon.svg" />
        </div>
        <div class="button2">
        <img
            class="social-icon1"
            alt=""
            src="./public/social-icon@2x.png"
        />
        </div>
        <div class="button2">
        <img class="social-icon" alt="" src="./public/social-icon.svg" />
        </div>
        <div class="button2">
        <img class="social-icon" alt="" src="./public/social-icon.svg" />
        </div>
    </div>
    <div class="container1">
        <div class="banner">
        <div class="frame-parent">
            <div class="frame-group">
            <div class="hello-iam-parent">
                <div class="hello-iam">Hello I’am</div>
                <div class="evren-shah">Evren Shah.</div>
            </div>
            <div class="hello-iam-parent">
                <div class="evren-shah">Frontend</div>
                <div class="developer">Developer</div>
            </div>
            <div class="hello-iam-parent">
                <div class="hello-iam">Based In</div>
                <div class="evren-shah">Sri Lanka</div>
            </div>
            </div>
            <div class="im-evren-shah">
            I'm Evren Shah Lorem Ipsum is simply dummy text of the printing
            and typesetting industry. Lorem Ipsum has been the industry's
            standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to specimen book.
            </div>
        </div>
        </div>
        <div class="banner1">
        <img class="banner-child" alt="" src="./public/frame-20.svg" />
        </div>
    </div>
</div>