<div class="header">
    <div class="container">
        <div class="logo">
        <img class="logo-1-icon" alt="" src="./public/logo-1.svg" />

        <b class="personal">Personal</b>
        </div>
        <div class="taskbaar">
        <div class="about-me">
            <div class="about-me1">About Me</div>
        </div>
        <div class="about-me">
            <div class="about-me1">Skills</div>
        </div>
        <div class="about-me">
            <div class="about-me1">Project</div>
        </div>
        <div class="about-me">
            <div class="about-me1">Contact me</div>
        </div>
        </div>
        <div class="button">
        <div class="resume">Resume</div>
        <img class="download-icon" alt="" src="./public/download.svg" />
        </div>
    </div>
</div>