
<section class="relative overflow-hidden bg-gray-900 pt-16 pb-32 space-y-24">
    <div class="relative flex flex-col max-w-screen-xl px-5 mx-auto md:flex-row sm:px-6 p-8">
        <h2 class="text-left text-white py-5 text-4xl font-bold sm:text-4xl md:text-5xl"><span class="font-medium">My</span> Projects</h2>
    </div>
    <!-- project -->
    <!-- project 01 -->
    <div class="relative">
        
        <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8 ">
            
            <div class="mx-auto max-w-xl px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0 ">

                <div>
                    <h3 class="text-2xl font-bold tracking-tight text-white">
                        01
                    </h3>
                    <div class="mt-6">
                        <h2 class="text-3xl font-bold tracking-tight text-white">
                            Crypto Screener Application
                        </h2>
                        <p class="mt-4 text-lg text-gray-300">
                            Lorem Ipsum is simply dummy text of the
                            printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to
                            specimen book.
                        </p>
                        <div class="mt-6">
                            <a href="http://" target="_blank" rel="noopener noreferrer">
                                <img class="social-icon" alt="" src="./public/read-more.svg" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-12 sm:mt-16 lg:mt-0">
                <div class="-mr-48 pl-6 md:-mr-16 lg:relative lg:m-0 lg:h-full lg:px-0">
                    <img loading="lazy" width="647" height="486"
                        class="w-full rounded-xl shadow-2xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none"
                        style="color:transparent" src="./public/image-771@2x.png">
                </div>
            </div>
        </div>
    </div>
     <!-- project 02 -->
    <div class="relative">
        <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8 ">
            <div class="mx-auto max-w-xl px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0 lg:col-start-2">
                <div>
                    <h3 class="text-2xl font-bold tracking-tight text-white">
                        02
                    </h3>
                    <div class="mt-6">
                        <h2 class="text-3xl font-bold tracking-tight text-white">
                            Euphoria - Ecommerce (Apparels) Website Template
                        </h2>
                        <p class="mt-4 text-lg text-gray-300">
                            Lorem Ipsum is simply dummy text of the
                            printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to
                            specimen book.
                        </p>
                        <div class="mt-6">
                            <a href="http://" target="_blank" rel="noopener noreferrer">
                                <img class="social-icon" alt="" src="./public/read-more.svg" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-12 sm:mt-16 lg:mt-0">
                <div class="-ml-48 pr-6 md:-ml-16 lg:relative lg:m-0 lg:h-full lg:px-0">
                    <img alt="Inbox user interface" loading="lazy" width="647" height="486"
                        class="w-full rounded-xl shadow-xl ring-1 ring-black ring-opacity-5 lg:absolute lg:right-0 lg:h-full lg:w-auto lg:max-w-none"
                        style="color:transparent" src="./public/image-770@2x.png">
                </div>
            </div>
        </div>
    </div>
    <!-- project 3 -->
    <div class="relative">
        <div class="lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8 ">
            <div class="mx-auto max-w-xl px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0 ">
                <div>
                    <h3 class="text-2xl font-bold tracking-tight text-white">
                        03
                    </h3>
                    <div class="mt-6">
                        <h2 class="text-3xl font-bold tracking-tight text-white">
                            Natural Language Generation (NLG):
                        </h2>
                        <p class="mt-4 text-lg text-gray-300">
                            Lorem Ipsum is simply dummy text of the
                            printing and typesetting industry. Lorem Ipsum has been the
                            industry's standard dummy text ever since the 1500s, when an
                            unknown printer took a galley of type and scrambled it to
                            specimen book.
                        </p>
                        <div class="mt-6">
                            <a href="http://" target="_blank" rel="noopener noreferrer">
                                <img class="social-icon" alt="" src="./public/read-more.svg" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-12 sm:mt-16 lg:mt-0">
                <div class="-mr-48 pl-6 md:-mr-16 lg:relative lg:m-0 lg:h-full lg:px-0">
                    <img loading="lazy" width="646" height="485"
                        class="w-full rounded-xl shadow-2xl ring-1 ring-black ring-opacity-5 lg:absolute lg:left-0 lg:h-full lg:w-auto lg:max-w-none"
                        style="color:transparent"
                        src="https://images.unsplash.com/photo-1483478550801-ceba5fe50e8e">
                </div>
            </div>
        </div>
    </div>
</section>

<div class="project">
    <div class="container2">
        <div class="row">
        <div class="hello-iam">My</div>
        <div class="evren-shah">Projects</div>
        </div>
        
        <div class="project-1">
        <div class="details">
            <div class="parent">
            <div class="div">02</div>
            <b class="crypto-screener-application"
                >Euphoria - Ecommerce (Apparels) Website Template</b
            >
            <div class="im-evren-shah">
                <p class="when-an-unknown">
                I'm Evren Shah Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to
                specimen book.
                </p>
                <p class="when-an-unknown">
                when an unknown printer took a galley of type and scrambled
                it to specimen book.
                </p>
            </div>
            <img class="social-icon" alt="" src="./public/read-more.svg" />
            </div>
        </div>
        <div class="image1">
            <img
            class="image-771-icon"
            alt=""
            src="./public/image-770@2x.png"
            />
        </div>
        </div>
        <div class="project-1">
        <div class="image">
            <img
            class="image-771-icon"
            alt=""
            src="./public/image-770@2x.png"
            />
        </div>
        <div class="details">
            <div class="parent1">
            <div class="div">03</div>
            <b class="crypto-screener-application">Blog Website Template</b>
            <div class="im-evren-shah">
                I'm Evren Shah Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to
                specimen book.
            </div>
            <img class="social-icon" alt="" src="./public/read-more.svg" />
            </div>
        </div>
        </div>
    </div>
</div>