<div class="project">
    <div class="container2">
        <div class="row">
        <div class="hello-iam">My</div>
        <div class="evren-shah">Projects</div>
        </div>
        <div class="project-1">
        <div class="image">
            <img
            class="image-771-icon"
            alt=""
            src="./public/image-771@2x.png"
            />
        </div>
        <div class="details">
            <div class="parent">
            <div class="div">01</div>
            <b class="crypto-screener-application"
                >Crypto Screener Application</b
            >
            <div class="im-evren-shah">
                I'm Evren Shah Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to
                specimen book.
            </div>
            <img class="social-icon" alt="" src="./public/read-more.svg" />
            </div>
        </div>
        </div>
        <div class="project-1">
        <div class="details">
            <div class="parent">
            <div class="div">02</div>
            <b class="crypto-screener-application"
                >Euphoria - Ecommerce (Apparels) Website Template</b
            >
            <div class="im-evren-shah">
                <p class="when-an-unknown">
                I'm Evren Shah Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to
                specimen book.
                </p>
                <p class="when-an-unknown">
                when an unknown printer took a galley of type and scrambled
                it to specimen book.
                </p>
            </div>
            <img class="social-icon" alt="" src="./public/read-more.svg" />
            </div>
        </div>
        <div class="image1">
            <img
            class="image-771-icon"
            alt=""
            src="./public/image-770@2x.png"
            />
        </div>
        </div>
        <div class="project-1">
        <div class="image">
            <img
            class="image-771-icon"
            alt=""
            src="./public/image-770@2x.png"
            />
        </div>
        <div class="details">
            <div class="parent1">
            <div class="div">03</div>
            <b class="crypto-screener-application">Blog Website Template</b>
            <div class="im-evren-shah">
                I'm Evren Shah Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to
                specimen book.
            </div>
            <img class="social-icon" alt="" src="./public/read-more.svg" />
            </div>
        </div>
        </div>
    </div>
</div>