<section class=" bg-black">
    <div class="relative flex flex-col items-center max-w-screen-xl px-4 mx-auto md:flex-row sm:px-6 p-8">
        <div class="text-left text-white mt-5">
            <h2 class="text-4xl font-bold sm:text-4xl md:text-5xl"><span class="font-medium">My</span> Projects</h2>
        </div>
    </div>
    <div class="relative flex flex-col items-center max-w-screen-xl px-4 mx-auto md:flex-row sm:px-6 p-8">
        
        
        <div class="flex items-center py-5 md:w-5/12 md:pb-20 md:pt-10 md:pl-10 md:mr-8">
            <img src="./public/group-1000015845.svg" width="100%" alt="man with laptop"/>
        </div>

        <div class="row items-center py-5 md:w-7/12 md:pb-20 md:pt-10">
            <div class="text-left">
                <h2 class="text-4xl font-bold sm:text-4xl md:text-5xl"><span class="font-medium">About</span> me</h2>
                <p class="text-lg font-normal text-gray-600 leading-relaxed mt-5">
                    I'm a passionate, self-proclaimed designer who specializes in full stack development (React.js & Node.js). I am very enthusiastic about bringing the technical and visual aspects of digital products to life. User experience, pixel perfect design, and writing clear, readable, highly performant code matters to me.
                    <br><br>
                    I began my journey as a web developer in 2015, and since then, I've continued to grow and evolve as a developer, taking on new challenges and learning the latest technologies along the way. Now, in my early thirties, 7 years after starting my web development journey, I'm building cutting-edge web applications using modern technologies such as Next.js, TypeScript, Nestjs, Tailwindcss, Supabase and much more.
                    <br><br>
                    When I'm not in full-on developer mode, you can find me hovering around on twitter or on indie hacker, witnessing the journey of early startups or enjoying some free time. You can follow me on Twitter where I share tech-related bites and build in public, or you can follow me on GitHub.
                </p>
            </div>
        </div>
        
    </div>
</section>

<div class="project">
    <div class="container2">
        <div class="row">
        <div class="hello-iam">My</div>
        <div class="evren-shah">Projects</div>
        </div>
        <div class="project-1">
        <div class="image">
            <img
            class="image-771-icon"
            alt=""
            src="./public/image-771@2x.png"
            />
        </div>
        <div class="details">
            <div class="parent">
            <div class="div">01</div>
            <b class="crypto-screener-application"
                >Crypto Screener Application</b
            >
            <div class="im-evren-shah">
                I'm Evren Shah Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to
                specimen book.
            </div>
            <img class="social-icon" alt="" src="./public/read-more.svg" />
            </div>
        </div>
        </div>
        <div class="project-1">
        <div class="details">
            <div class="parent">
            <div class="div">02</div>
            <b class="crypto-screener-application"
                >Euphoria - Ecommerce (Apparels) Website Template</b
            >
            <div class="im-evren-shah">
                <p class="when-an-unknown">
                I'm Evren Shah Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to
                specimen book.
                </p>
                <p class="when-an-unknown">
                when an unknown printer took a galley of type and scrambled
                it to specimen book.
                </p>
            </div>
            <img class="social-icon" alt="" src="./public/read-more.svg" />
            </div>
        </div>
        <div class="image1">
            <img
            class="image-771-icon"
            alt=""
            src="./public/image-770@2x.png"
            />
        </div>
        </div>
        <div class="project-1">
        <div class="image">
            <img
            class="image-771-icon"
            alt=""
            src="./public/image-770@2x.png"
            />
        </div>
        <div class="details">
            <div class="parent1">
            <div class="div">03</div>
            <b class="crypto-screener-application">Blog Website Template</b>
            <div class="im-evren-shah">
                I'm Evren Shah Lorem Ipsum is simply dummy text of the
                printing and typesetting industry. Lorem Ipsum has been the
                industry's standard dummy text ever since the 1500s, when an
                unknown printer took a galley of type and scrambled it to
                specimen book.
            </div>
            <img class="social-icon" alt="" src="./public/read-more.svg" />
            </div>
        </div>
        </div>
    </div>
</div>