<section class="container mx-auto" id="skills">
    <div class="relative flex flex-col items-center max-w-screen-xl px-4 mx-auto md:flex-row sm:px-6 p-8">
        <div class="row justify-center items-center py-5 md:pb-20 md:pt-10">
            <div class="space-y-3">
                <h2 class=" text-black text-4xl font-normal sm:text-4xl md:text-5xl">
                    <span class="font-medium">My</span> Skills
                </h2>
            </div>
        </div>
    </div>
    <div class="w-100 h-24 py-5 justify-center items-center gap-4 inline-flex">
        <div class="text-black text-5xl font-normal font-['Sora'] leading-[56px]">My</div>
        <div class="text-black text-5xl font-extrabold font-['Sora'] leading-[56px]">Skills</div>
    </div>
    <div class="relative flex flex-col items-center max-w-screen-xl px-4 mx-auto md:flex-row sm:px-6 p-8">
        <div class="row items-center py-5">
            <div class="grid md:grid-cols-5 gap-10 place-items-center">
                <div class="w-full max-w-sm p-4 outline items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/icongit.svg" alt="Git" srcset="" class="justify-items-center">
                        <b class="text-sm">Git</b>
                    </div>
                </div>
                <div class="w-full max-w-sm p-4 outline items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconjavscript.svg" alt="Javascript" srcset="" class="justify-items-center">
                        <b class="text-sm">Javascript</b>
                    </div>
                </div>
                <div class="w-full max-w-sm p-4 outline items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconsass.svg" alt="Sass/scss" srcset="" class="justify-items-center">
                        <b class="text-sm">Sass/scss</b>
                    </div>
                </div>
                <div class="w-full max-w-sm p-4 outline items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconnest.svg" alt="Nest.Js" srcset="" class="justify-items-center">
                        <b class="text-sm">Nest.Js</b>
                    </div>
                </div>
                <div class="w-full max-w-sm p-4 outline items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconstorybook.svg" alt="Storybook" srcset="" class="justify-items-center">
                        <b class="text-sm">Storybook</b>
                    </div>
                </div>
                <div class="w-full max-w-sm p-4 outline items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconsocket.svg" alt="Socket.io" srcset="" class="justify-items-center">
                        <b class="text-sm">Socket.io</b>
                    </div>
                </div>
                <div class="w-full max-w-sm p-4 outline items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconsass.svg" alt="Sass/scss" srcset="" class="justify-items-center">
                        <b class="text-sm">Sass/scss</b>
                    </div>
                </div>
                <div class="w-full max-w-sm p-4 outline items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconjavscript.svg" alt="" srcset="" class="justify-items-center">
                        <b class="text-sm">Javascript</b>
                    </div>
                </div>
                <div class="w-full max-w-sm p-4 outline items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/icongit.svg" alt="Git" srcset="" class="justify-items-center">
                        <b class="text-sm">Git</b>
                    </div>
                </div>
                <div class="w-full max-w-sm p-4 outline items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconnest.svg" alt="Nest.Js" srcset="" class="justify-items-center">
                        <b class="text-sm">Nest.Js</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="grid md:grid-cols-3 gap-10 mx-auto max-w-4xl mt-12">
        <div class="group">
            <div class="w-full max-w-sm p-4 outline items-center justify-center">
                <h5 class="mb-4 text-xl font-medium text-black flex justify-center">Name</h5>
                <img class=" focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 flex justify-center" src="/iconnest.svg" alt="Nest.Js" srcset=""/>
            </div>
        </div>
        <div class="group">
            <div class="w-full max-w-sm p-4 outline items-center justify-center">
                <h5 class="mb-4 text-xl font-medium text-black flex justify-center">Name</h5>
                <a type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 flex justify-center" href="{compMemberEntry.data.src}">View Component</a>
            </div>
        </div>
        <div class="group">
            <div class="w-full max-w-sm p-4 outline items-center justify-center">
                <h5 class="mb-4 text-xl font-medium text-black flex justify-center">Name</h5>
                <a type="button" class="text-white bg-gray-800 hover:bg-gray-900 focus:outline-none focus:ring-4 focus:ring-gray-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-gray-800 dark:hover:bg-gray-700 dark:focus:ring-gray-700 dark:border-gray-700 flex justify-center" href="{compMemberEntry.data.src}">View Component</a>
            </div>
        </div>
    </div> -->
    
</section>