<section class="container mx-auto">
    <div class="relative flex flex-col items-center max-w-screen-xl px-4 mx-auto md:flex-row sm:px-6 p-8">
        <div class="row items-center py-5 md:w-5/12 md:pb-20 md:pt-10">
            <div class="text-left space-y-3">
                <h2 class="text-left text-black py-5 text-4xl font-bold sm:text-4xl md:text-5xl">
                    <span class="font-medium">My</span> Skills
                </h2>
            </div>
        </div>
    </div>
    <div class="relative flex flex-col items-center max-w-screen-xl px-4 mx-auto md:flex-row sm:px-6 p-8">
        <div class="row items-center py-5">
            <div class="grid grid-rows-2 grid-cols-5 gap-4 place-items-center">
                <div class="border-solid border-2 border-black rounded-md justify-items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconjavscript.svg" alt="" srcset="" class="justify-items-center">
                        <b class="text-sm">Javascript</b>
                    </div>
                </div>
                <div class="border-solid border-2 border-black rounded-md justify-items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconjavscript.svg" alt="" srcset="" class="justify-items-center">
                        <b class="text-sm">Javascript</b>
                    </div>
                </div>
                <div class="border-solid border-2 border-black rounded-md justify-items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconjavscript.svg" alt="" srcset="" class="justify-items-center">
                        <b class="text-sm">Javascript</b>
                    </div>
                </div>
                <div class="border-solid border-2 border-black rounded-md justify-items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconjavscript.svg" alt="" srcset="" class="justify-items-center">
                        <b class="text-sm">Javascript</b>
                    </div>
                </div>
                <div class="border-solid border-2 border-black rounded-md justify-items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconjavscript.svg" alt="" srcset="" class="justify-items-center">
                        <b class="text-sm">Javascript</b>
                    </div>
                </div>
                <div class="border-solid border-2 border-black rounded-md justify-items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconjavscript.svg" alt="" srcset="" class="justify-items-center">
                        <b class="text-sm">Javascript</b>
                    </div>
                </div><div class="border-solid border-2 border-black rounded-md justify-items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconjavscript.svg" alt="" srcset="" class="justify-items-center">
                        <b class="text-sm">Javascript</b>
                    </div>
                </div><div class="border-solid border-2 border-black rounded-md justify-items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconjavscript.svg" alt="" srcset="" class="justify-items-center">
                        <b class="text-sm">Javascript</b>
                    </div>
                </div><div class="border-solid border-2 border-black rounded-md justify-items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconjavscript.svg" alt="" srcset="" class="justify-items-center">
                        <b class="text-sm">Javascript</b>
                    </div>
                </div><div class="border-solid border-2 border-black rounded-md justify-items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconjavscript.svg" alt="" srcset="" class="justify-items-center">
                        <b class="text-sm">Javascript</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>

<div class="skills">
    <div class="container2">
        <div class="row">
        <div class="hello-iam">My</div>
        <div class="evren-shah">Skills</div>
        </div>
        <div class="row1">
        <div class="column">
            <div class="skills2">
            <img class="icon-git" alt="" src="/icongit.svg" />

            <b class="javascript">Git</b>
            </div>
            <div class="skills3">
            <img
                class="icon-javscript"
                alt=""
                src="/iconjavscript.svg"
            />

            <b class="javascript">javascript</b>
            </div>
            <div class="skills2">
            <img class="icon-git" alt="" src="/iconsass.svg" />

            <b class="javascript">Sass/scss</b>
            </div>
            <div class="skills2">
            <img class="icon-git" alt="" src="/iconnest.svg" />

            <b class="javascript">Nest.Js</b>
            </div>
            <div class="skills2">
            <img class="icon-git" alt="" src="/iconstorybook.svg" />

            <b class="javascript">Storybook</b>
            </div>
        </div>
        <div class="column">
            <div class="skills2">
            <img class="icon-git" alt="" src="/iconnest.svg" />

            <b class="javascript">Nest.Js</b>
            </div>
            <div class="skills2">
            <img class="icon-git" alt="" src="/icongit.svg" />

            <b class="javascript">Git</b>
            </div>
            <div class="skills2">
            <img class="icon-git" alt="" src="/iconstorybook.svg" />

            <b class="javascript">Storybook</b>
            </div>
            <div class="skills2">
            <img class="icon-git" alt="" src="/iconsocket.svg" />

            <b class="javascript">Socket.io</b>
            </div>
            <div class="skills2">
            <img class="icon-git" alt="" src="/iconsass.svg" />

            <b class="javascript">Sass/scss</b>
            </div>
        </div>
        </div>
    </div>
</div>