<section class="container mx-auto">
    <div class="relative flex flex-col items-center max-w-screen-xl px-4 mx-auto md:flex-row sm:px-6 p-8">
        <div class="row items-center py-5 md:w-5/12 md:pb-20 md:pt-10">
            <div class="text-left space-y-3">
                <h2 class="text-left text-black text-4xl font-bold sm:text-4xl md:text-5xl">
                    <span class="font-medium">My</span> Skills
                </h2>
            </div>
        </div>
    </div>
    <div class="relative flex flex-col items-center max-w-screen-xl px-4 mx-auto md:flex-row sm:px-6 p-8">
        <div class="row items-center py-5">
            <div class="grid grid-rows-2 grid-cols-5 gap-14 place-items-center">
                <div class="border-solid border-2 border-black rounded-md justify-items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/icongit.svg" alt="Git" srcset="" class="justify-items-center">
                        <b class="text-sm">Git</b>
                    </div>
                </div>
                <div class="border-solid border-2 border-black rounded-md justify-items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconjavscript.svg" alt="Javascript" srcset="" class="justify-items-center">
                        <b class="text-sm">Javascript</b>
                    </div>
                </div>
                <div class="border-solid border-2 border-black rounded-md justify-items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconsass.svg" alt="Sass/scss" srcset="" class="justify-items-center">
                        <b class="text-sm">Sass/scss</b>
                    </div>
                </div>
                <div class="border-solid border-2 border-black rounded-md justify-items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconnest.svg" alt="Nest.Js" srcset="" class="justify-items-center">
                        <b class="text-sm">Nest.Js</b>
                    </div>
                </div>
                <div class="border-solid border-2 border-black rounded-md justify-items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconstorybook.svg" alt="Storybook" srcset="" class="justify-items-center">
                        <b class="text-sm">Storybook</b>
                    </div>
                </div>
                <div class="border-solid border-2 border-black rounded-md justify-items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconsocket.svg" alt="Socket.io" srcset="" class="justify-items-center">
                        <b class="text-sm">Socket.io</b>
                    </div>
                </div>
                <div class="border-solid border-2 border-black rounded-md justify-items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconsass.svg" alt="Sass/scss" srcset="" class="justify-items-center">
                        <b class="text-sm">Sass/scss</b>
                    </div>
                </div>
                <div class="border-solid border-2 border-black rounded-md justify-items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconjavscript.svg" alt="" srcset="" class="justify-items-center">
                        <b class="text-sm">Javascript</b>
                    </div>
                </div>
                <div class="border-solid border-2 border-black rounded-md justify-items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/icongit.svg" alt="Git" srcset="" class="justify-items-center">
                        <b class="text-sm">Git</b>
                    </div>
                </div>
                <div class="border-solid border-2 border-black rounded-md justify-items-center justify-center">
                    <div class="max-w-md px-16 py-14 content-center justify-center">
                        <img src="/iconnest.svg" alt="Nest.Js" srcset="" class="justify-items-center">
                        <b class="text-sm">Nest.Js</b>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</section>