<section id="skills">
    <div class="relative flex flex-col items-center max-w-screen-sm px-4 mx-auto sm:px-6 p-8 md:py-[60px] md:px-20">
        <h2 class="text-black text-4xl font-normal sm:text-4xl md:text-5xl">My
            <span class="font-extrabold">Skills</span> 
        </h2>
    </div>
    <div class="self-stretch overflow-hidden flex flex-col items-start justify-start py-0 md:pb-20 px-8 gap-[20px]">
        <div class="self-stretch grid grid-cols-2 md:flex md:flex-row md:flex-wrap items-center justify-center py-5 px-0 box-border gap-[10px] md:gap-[71px] min-h-[492px] text-center text-xl">
        <!-- <div class="self-stretch flex flex-row flex-wrap items-center justify-center py-5 px-0 box-border gap-[71px] min-h-[492px] text-center text-xl"> -->
            <div class="h-[145px] w-[145px] md:h-[186px] md:w-[186px] rounded bg-primary-white box-border border-black flex flex-col items-center justify-center py-6 px-[22px] gap-[32px] border-[2px] border-solid border-primary-black">
                <img
                class="w-8 h-8 md:w-14 md:h-14 relative overflow-hidden shrink-0"
                loading="eager"
                alt=""
                src="/public/icongit.svg"
                />

                <b class="self-stretch relative text-sm md:text-lg">Git</b>
            </div>
            <div class="h-[145px] w-[145px] md:h-[186px] md:w-[186px] rounded bg-primary-black box-border border-black flex flex-col items-center justify-center py-6 px-[22px] gap-[32px] text-primary-white border-[2px] border-solid border-primary-black">
                <img
                class="w-8 h-8 md:w-14 md:h-14 relative"
                loading="eager"
                alt=""
                src="/public/iconjavscript.svg"
                />

                <b
                class="self-stretch relative text-sm md:text-lg"
                >javascript</b
                >
            </div>
            <div class="h-[145px] w-[145px] md:h-[186px] md:w-[186px] rounded bg-primary-white box-border border-black flex flex-col items-center justify-center py-6 px-[22px] gap-[32px] border-[2px] border-solid border-primary-black">
                <img
                class="w-8 h-8 md:w-14 md:h-14 relative overflow-hidden shrink-0"
                loading="eager"
                alt=""
                src="/public/iconsass.svg"/>

                <b
                class="self-stretch relative text-sm md:text-lg"
                >Sass/scss</b
                >
            </div>
            <div class="h-[145px] w-[145px] md:h-[186px] md:w-[186px] rounded bg-primary-white box-border border-black flex flex-col items-center justify-center py-6 px-[22px] gap-[32px] border-[2px] border-solid border-primary-black"
            >
                <img
                class="w-8 h-8 md:w-14 md:h-14 relative overflow-hidden shrink-0"
                loading="eager"
                alt=""
                src="/public/iconnest.svg"/>

                <b
                class="self-stretch relative text-sm md:text-lg"
                >Nest.Js</b
                >
            </div>
            <div class="h-[145px] w-[145px] md:h-[186px] md:w-[186px] rounded bg-primary-white box-border border-black flex flex-col items-center justify-center py-6 px-[22px] gap-[32px] border-[2px] border-solid border-primary-black">
                <img
                class="w-8 h-8 md:w-14 md:h-14 relative overflow-hidden shrink-0"
                loading="eager"
                alt=""
                src="/public/iconstorybook.svg"/>

                <b
                class="self-stretch relative text-sm md:text-lg"
                >Storybook</b
                >
            </div>
            <div class="h-[145px] w-[145px] md:h-[186px] md:w-[186px] rounded bg-primary-white box-border border-black flex flex-col items-center justify-center py-6 px-[22px] gap-[32px] border-[2px] border-solid border-primary-black"
            >
                <img
                class="w-8 h-8 md:w-14 md:h-14 relative overflow-hidden shrink-0"
                alt=""
                src="/public/iconnest.svg"
                />

                <b
                class="self-stretch relative text-sm md:text-lg"
                >Nest.Js</b
                >
            </div>
            <div class="h-[145px] w-[145px] md:h-[186px] md:w-[186px] rounded bg-primary-white box-border border-black flex flex-col items-center justify-center py-6 px-[22px] gap-[32px] border-[2px] border-solid border-primary-black">
                <img
                class="w-8 h-8 md:w-14 md:h-14 relative overflow-hidden shrink-0"
                alt=""
                src="/public/icongit.svg"
                />

                <b
                class="self-stretch relative text-sm md:text-lg"
                >Git</b
                >
            </div>
            <div class="h-[145px] w-[145px] md:h-[186px] md:w-[186px] rounded bg-primary-white box-border border-black flex flex-col items-center justify-center py-6 px-[22px] gap-[32px] border-[2px] border-solid border-primary-black">
                <img
                class="w-8 h-8 md:w-14 md:h-14 relative overflow-hidden shrink-0"
                alt=""
                src="/public/iconstorybook.svg"
                />

                <b
                class="self-stretch relative text-sm md:text-lg"
                >Storybook</b
                >
            </div>
            <div class="h-[145px] w-[145px] md:h-[186px] md:w-[186px] rounded bg-primary-white box-border border-black flex flex-col items-center justify-center py-6 px-[22px] gap-[32px] border-[2px] border-solid border-primary-black"
            >
                <img
                class="w-8 h-8 md:w-14 md:h-14 relative overflow-hidden shrink-0"
                loading="eager"
                alt=""
                src="/public/iconsocket.svg"
                />

                <b
                class="self-stretch relative text-sm md:text-lg"
                >Socket.io</b
                >
            </div>
            <div class="h-[145px] w-[145px] md:h-[186px] md:w-[186px] rounded bg-primary-white box-border border-black flex flex-col items-center justify-center py-6 px-[22px] gap-[32px] border-[2px] border-solid border-primary-black"
            >
                <img
                class="w-8 h-8 md:w-14 md:h-14 relative overflow-hidden shrink-0"
                alt=""
                src="/public/iconsass.svg"
                />

                <b
                class="self-stretch relative text-sm md:text-lg"
                >Sass/scss</b
                >
            </div>
        </div>
    </div>
</section>