<div class="skills">
    <div class="container2">
        <div class="row">
        <div class="hello-iam">My</div>
        <div class="evren-shah">Skills</div>
        </div>
        <div class="row1">
        <div class="column">
            <div class="skills2">
            <img class="icon-git" alt="" src="./public/icongit.svg" />

            <b class="javascript">Git</b>
            </div>
            <div class="skills3">
            <img
                class="icon-javscript"
                alt=""
                src="./public/iconjavscript.svg"
            />

            <b class="javascript">javascript</b>
            </div>
            <div class="skills2">
            <img class="icon-git" alt="" src="./public/iconsass.svg" />

            <b class="javascript">Sass/scss</b>
            </div>
            <div class="skills2">
            <img class="icon-git" alt="" src="./public/iconnest.svg" />

            <b class="javascript">Nest.Js</b>
            </div>
            <div class="skills2">
            <img class="icon-git" alt="" src="./public/iconstorybook.svg" />

            <b class="javascript">Storybook</b>
            </div>
        </div>
        <div class="column">
            <div class="skills2">
            <img class="icon-git" alt="" src="./public/iconnest.svg" />

            <b class="javascript">Nest.Js</b>
            </div>
            <div class="skills2">
            <img class="icon-git" alt="" src="./public/icongit.svg" />

            <b class="javascript">Git</b>
            </div>
            <div class="skills2">
            <img class="icon-git" alt="" src="./public/iconstorybook.svg" />

            <b class="javascript">Storybook</b>
            </div>
            <div class="skills2">
            <img class="icon-git" alt="" src="./public/iconsocket.svg" />

            <b class="javascript">Socket.io</b>
            </div>
            <div class="skills2">
            <img class="icon-git" alt="" src="./public/iconsass.svg" />

            <b class="javascript">Sass/scss</b>
            </div>
        </div>
        </div>
    </div>
</div>