
<section class="relative overflow-hidden pt-16 pb-32 space-y-24">    
    <div class="relative lg:mx-auto lg:grid lg:max-w-7xl lg:grid-flow-col-dense lg:grid-cols-2 lg:gap-24 lg:px-8 ">      
        <div class="mx-auto max-w-xl px-6 lg:mx-0 lg:max-w-none lg:py-16 lg:px-0 ">
            <h2 class="text-left text-black py-5 text-4xl font-bold sm:text-4xl md:text-5xl"><span class="font-medium">My</span> Skills</h2>
        </div>
    </div>

</section>
<div class="skills">
    <div class="container2">
        <div class="row">
        <div class="hello-iam">My</div>
        <div class="evren-shah">Skills</div>
        </div>
        <div class="row1">
        <div class="column">
            <div class="skills2">
            <img class="icon-git" alt="" src="/icongit.svg" />

            <b class="javascript">Git</b>
            </div>
            <div class="skills3">
            <img
                class="icon-javscript"
                alt=""
                src="/iconjavscript.svg"
            />

            <b class="javascript">javascript</b>
            </div>
            <div class="skills2">
            <img class="icon-git" alt="" src="/iconsass.svg" />

            <b class="javascript">Sass/scss</b>
            </div>
            <div class="skills2">
            <img class="icon-git" alt="" src="/iconnest.svg" />

            <b class="javascript">Nest.Js</b>
            </div>
            <div class="skills2">
            <img class="icon-git" alt="" src="/iconstorybook.svg" />

            <b class="javascript">Storybook</b>
            </div>
        </div>
        <div class="column">
            <div class="skills2">
            <img class="icon-git" alt="" src="/iconnest.svg" />

            <b class="javascript">Nest.Js</b>
            </div>
            <div class="skills2">
            <img class="icon-git" alt="" src="/icongit.svg" />

            <b class="javascript">Git</b>
            </div>
            <div class="skills2">
            <img class="icon-git" alt="" src="/iconstorybook.svg" />

            <b class="javascript">Storybook</b>
            </div>
            <div class="skills2">
            <img class="icon-git" alt="" src="/iconsocket.svg" />

            <b class="javascript">Socket.io</b>
            </div>
            <div class="skills2">
            <img class="icon-git" alt="" src="/iconsass.svg" />

            <b class="javascript">Sass/scss</b>
            </div>
        </div>
        </div>
    </div>
</div>