<section class="container mx-auto">
    <div class="relative flex flex-col text-center max-w-screen-sm px-4 mx-auto sm:px-6 p-8 md:pb-20">
        <h2 class="text-black text-4xl font-normal md:text-5xl">My
            <span class="font-extrabold">Testimonial</span> 
        </h2>
    </div>
    <div class="self-stretch overflow-hidden flex flex-row flex-wrap items-start justify-start py-10 px-6 box-border gap-[29px] max-w-full text-center text-base">
        <div class="flex-1 rounded-xl bg-primary-white shadow-[0px_6px_8px_-6px_rgba(24,_39,_75,_0.12),_0px_8px_16px_-6px_rgba(24,_39,_75,_0.08)] flex flex-col items-center justify-start p-10 box-border gap-[24px] min-w-[277px] max-w-full mq450:pt-[26px] mq450:pb-[26px] mq450:box-border">
        <div class="w-24 h-24 flex flex-row items-end justify-end pt-[66px] px-0 pb-0 box-border relative gap-[10px]">
            <img
            class="h-full w-full absolute my-0 mx-[!important] top-[0px] right-[0px] bottom-[0px] left-[0px] rounded-[50%] max-w-full overflow-hidden max-h-full object-cover"
            alt=""
            src="/public/ellipse-2664@2x.png"
            />

            <div class="my-0 mx-[!important] absolute top-[66px] left-[66px] flex flex-row items-center justify-center w-[30px] h-[30px] z-[1]">
            <div class="h-[30px] w-[30px] relative rounded-[50%] bg-primary-black"></div>
            <img
                class="h-[31%] w-[43%] absolute my-0 mx-[!important] top-[33.33%] right-[27%] bottom-[35.67%] left-[30%] max-w-full overflow-hidden max-h-full z-[1]"
                loading="eager"
                alt=""
                src="/public/vector.svg"
            />
            </div>
        </div>
        <div class="self-stretch relative tracking-[0.02em] leading-[20px]">
            I recently had to jump on 10+ different calls across eight
            different countries to find the right owner.
        </div>
        <div class="w-[120px] h-0.5 relative bg-primary-black"></div>
        <div class="self-stretch relative text-xl tracking-[-0.02em] leading-[24px] capitalize font-semibold mq450:text-base mq450:leading-[19px]">
            Evren Shah
        </div>
        <div
            class="self-stretch relative tracking-[-0.02em] leading-[20px] font-semibold text-zinc-500"
        >
            Designer
        </div>
        </div>
        <div class="flex-1 rounded-xl bg-primary-black shadow-[0px_6px_8px_-6px_rgba(24,_39,_75,_0.12),_0px_8px_16px_-6px_rgba(24,_39,_75,_0.08)] flex flex-col items-center justify-start p-10 box-border gap-[24px] min-w-[277px] max-w-full text-primary-white mq450:pt-[26px] mq450:pb-[26px] mq450:box-border"
        >
        <div class="w-24 h-24 flex flex-row items-end justify-end pt-[66px] px-0 pb-0 box-border relative gap-[10px]"
        >
            <img
            class="h-full w-full absolute my-0 mx-[!important] top-[0px] right-[0px] bottom-[0px] left-[0px] rounded-[50%] max-w-full overflow-hidden max-h-full object-cover"
            alt=""
            src="/public/ellipse-26641@2x.png"
            />

            <div
            class="my-0 mx-[!important] absolute top-[66px] left-[66px] flex flex-row items-center justify-center w-[30px] h-[30px] z-[1]"
            >
            <div
                class="h-[30px] w-[30px] relative rounded-[50%] bg-primary-white"
            ></div>
            <img
                class="h-[31%] w-[43%] absolute my-0 mx-[!important] top-[33.33%] right-[27%] bottom-[35.67%] left-[30%] max-w-full overflow-hidden max-h-full z-[1]"
                alt=""
                src="/public/vector1.svg"
            />
            </div>
        </div>
        <div class="self-stretch relative tracking-[0.02em] leading-[20px]">
            I recently had to jump on 10+ different calls across eight
            different countries to find the right owner.
        </div>
        <div class="w-[120px] h-0.5 relative bg-primary-white"></div>
        <div class="self-stretch relative text-xl tracking-[-0.02em] leading-[24px] capitalize font-semibold mq450:text-base mq450:leading-[19px]"
        >
            Flora sheen
        </div>
        <div
            class="self-stretch relative tracking-[-0.02em] leading-[20px] font-semibold"
        >
            Designer
        </div>
        </div>
        <div
        class="flex-1 rounded-xl bg-primary-white shadow-[0px_6px_8px_-6px_rgba(24,_39,_75,_0.12),_0px_8px_16px_-6px_rgba(24,_39,_75,_0.08)] flex flex-col items-center justify-start p-10 box-border gap-[24px] min-w-[277px] max-w-full mq450:pt-[26px] mq450:pb-[26px] mq450:box-border"
        >
        <div
            class="w-24 h-24 flex flex-row items-end justify-end pt-[66px] px-0 pb-0 box-border relative gap-[10px]"
        >
            <img
            class="h-full w-full absolute my-0 mx-[!important] top-[0px] right-[0px] bottom-[0px] left-[0px] rounded-[50%] max-w-full overflow-hidden max-h-full object-cover"
            alt=""
            src="/public/ellipse-2664@2x.png"
            />

            <div
            class="my-0 mx-[!important] absolute top-[66px] left-[66px] flex flex-row items-center justify-center w-[30px] h-[30px] z-[1]"
            >
            <div
                class="h-[30px] w-[30px] relative rounded-[50%] bg-primary-black"
            ></div>
            <img
                class="h-[31%] w-[43%] absolute my-0 mx-[!important] top-[33.33%] right-[27%] bottom-[35.67%] left-[30%] max-w-full overflow-hidden max-h-full z-[1]"
                alt=""
                src="/public/vector.svg"
            />
            </div>
        </div>
        <div class="self-stretch relative tracking-[0.02em] leading-[20px]">
            I recently had to jump on 10+ different calls across eight
            different countries to find the right owner.
        </div>
        <div class="w-[120px] h-0.5 relative bg-primary-black"></div>
        <div
            class="self-stretch relative text-xl tracking-[-0.02em] leading-[24px] capitalize font-semibold mq450:text-base mq450:leading-[19px]"
        >
            Evren Shah
        </div>
        <div
            class="self-stretch relative tracking-[-0.02em] leading-[20px] font-semibold text-zinc-500"
        >
            Designer
        </div>
        </div>
    </div>
    <!-- TW Elements is free under AGPL, with commercial license required for specific uses. See more details: https://tw-elements.com/license/ and contact us for queries at tailwind@mdbootstrap.com --> 
<div class="mx-auto text-center md:max-w-xl lg:max-w-3xl">
    <h3
      class="mb-6 text-3xl font-bold text-neutral-800 dark:text-neutral-200">
      Testimonials
    </h3>
    <p class="mb-6 pb-2 md:mb-12 md:pb-0">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit, error
      amet numquam iure provident voluptate esse quasi, veritatis totam
      voluptas nostrum quisquam eum porro a pariatur veniam.
    </p>
  </div>
  
  <!-- Container for the Testimonials -->
  <div class="grid gap-6 text-center md:grid-cols-3 lg:gap-12">
    <!-- First Testimonial -->
    <div class="mb-12 md:mb-0">
      <div class="mb-6 flex justify-center">
        <img
          src="https://tecdn.b-cdn.net/img/Photos/Avatars/img%20(1).jpg"
          class="w-32 rounded-full shadow-lg dark:shadow-black/30" />
      </div>
      <h5 class="mb-4 text-xl font-semibold">Maria Smantha</h5>
      <h6 class="mb-4 font-semibold text-primary dark:text-primary-500">
        Web Developer
      </h6>
      <p class="mb-4">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos
        id officiis hic tenetur quae quaerat ad velit ab hic tenetur.
      </p>
    </div>
  
    <!-- Second Testimonial -->
    <div class="mb-12 md:mb-0">
      <div class="mb-6 flex justify-center">
        <img
          src="https://tecdn.b-cdn.net/img/Photos/Avatars/img%20(2).jpg"
          class="w-32 rounded-full shadow-lg dark:shadow-black/30" />
      </div>
      <h5 class="mb-4 text-xl font-semibold">Lisa Cudrow</h5>
      <h6 class="mb-4 font-semibold text-primary dark:text-primary-500">
        Graphic Designer
      </h6>
      <p class="mb-4">
        Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
        suscipit laboriosam, nisi ut aliquid commodi.
      </p>
    </div>
  
    <!-- Third Testimonial -->
    <div class="mb-0">
        <div class="mb-6 flex justify-center">
            <img
            src="https://tecdn.b-cdn.net/img/Photos/Avatars/img%20(9).jpg"
            class="w-32 rounded-full shadow-lg dark:shadow-black/30" />
        </div>
        <h5 class="mb-4 text-xl font-semibold">John Smith</h5>
        <h6 class="mb-4 font-semibold text-primary dark:text-primary-400">
            Marketing Specialist
        </h6>
        <p class="mb-4 text-neutral-600 dark:text-neutral-300">
            At vero eos et accusamus et iusto odio dignissimos ducimus qui
            blanditiis praesentium voluptatum deleniti atque corrupti.
        </p>
    </div>
</section>