<div class="testimonial1">
    <div class="container3">
        <div class="row">
        <div class="hello-iam">My</div>
        <div class="evren-shah">Testimonial</div>
        </div>
        <div class="row5">
        <div class="testimonial3">
            <div class="ellipse-parent">
            <img
                class="frame-child"
                alt=""
                src="./public/ellipse-2664@2x.png"
            />

            <div class="ellipse-group">
                <div class="frame-item"></div>
                <img class="vector-icon" alt="" src="./public/vector.svg" />
            </div>
            </div>
            <div class="i-recently-had">
            I recently had to jump on 10+ different calls across eight
            different countries to find the right owner.
            </div>
            <div class="testimonial-child"></div>
            <div class="evren-shah1">Evren Shah</div>
            <div class="designer">Designer</div>
        </div>
        <div class="testimonial4">
            <div class="ellipse-parent">
            <img
                class="frame-child"
                alt=""
                src="./public/ellipse-2664@2x.png"
            />

            <div class="ellipse-group">
                <div class="ellipse-div"></div>
                <img class="vector-icon" alt="" src="./public/vector.svg" />
            </div>
            </div>
            <div class="i-recently-had">
            I recently had to jump on 10+ different calls across eight
            different countries to find the right owner.
            </div>
            <div class="testimonial-item"></div>
            <div class="evren-shah1">Flora sheen</div>
            <div class="designer1">Designer</div>
        </div>
        <div class="testimonial3">
            <div class="ellipse-parent">
            <img
                class="frame-child"
                alt=""
                src="./public/ellipse-2664@2x.png"
            />

            <div class="ellipse-group">
                <div class="frame-item"></div>
                <img class="vector-icon" alt="" src="./public/vector.svg" />
            </div>
            </div>
            <div class="i-recently-had">
            I recently had to jump on 10+ different calls across eight
            different countries to find the right owner.
            </div>
            <div class="testimonial-child"></div>
            <div class="evren-shah1">Evren Shah</div>
            <div class="designer">Designer</div>
        </div>
        </div>
    </div>
</div>