<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <link rel="stylesheet" href="./global.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700;800&display=swap"
    />
  </head>
  <body>
    <div
      class="w-full relative bg-primary-white overflow-hidden flex flex-col items-center justify-start tracking-[normal]"
    >
      <header
        class="self-stretch overflow-hidden flex flex-row items-start justify-start py-6 px-20 box-border max-w-full text-left text-xl text-primary-black font-heading-h6-semibold mq825:pl-10 mq825:pr-10 mq825:box-border"
      >
        <div
          class="flex-1 overflow-hidden flex flex-row items-center justify-between py-0 px-8 box-border gap-[20px] max-w-full"
        >
          <div class="flex flex-row items-center justify-start gap-[12px]">
            <img
              class="h-10 w-[39.9px] relative overflow-hidden shrink-0"
              alt=""
              src="/public/logo-1.svg"
            />

            <b class="relative tracking-[-0.02em] leading-[24px] capitalize"
              >Personal</b
            >
          </div>
          <div
            class="flex flex-row items-center justify-center gap-[32px] max-w-full mq825:hidden mq450:gap-[16px]"
          >
            <div class="flex flex-row items-center justify-center">
              <div
                class="relative tracking-[-0.02em] leading-[24px] capitalize font-semibold whitespace-nowrap"
              >
                About Me
              </div>
            </div>
            <div class="flex flex-row items-center justify-center">
              <div
                class="relative tracking-[-0.02em] leading-[24px] capitalize font-semibold"
              >
                Skills
              </div>
            </div>
            <div class="flex flex-row items-center justify-center">
              <div
                class="relative tracking-[-0.02em] leading-[24px] capitalize font-semibold"
              >
                Project
              </div>
            </div>
            <div class="flex flex-row items-center justify-center">
              <div
                class="relative tracking-[-0.02em] leading-[24px] capitalize font-semibold whitespace-nowrap"
              >
                Contact me
              </div>
            </div>
          </div>
          <button
            class="cursor-pointer [border:none] py-4 px-5 bg-primary-black rounded flex flex-row items-center justify-center gap-[8px] hover:bg-darkslategray"
          >
            <div
              class="relative text-xl tracking-[0.02em] leading-[24px] font-semibold font-heading-h6-semibold text-primary-white text-left"
            >
              Resume
            </div>
            <img
              class="h-5 w-5 relative overflow-hidden shrink-0"
              alt=""
              src="/public/download.svg"
            />
          </button>
        </div>
      </header>
      <section
        class="self-stretch overflow-hidden flex flex-col items-center justify-center p-[60px] box-border max-w-full text-left text-29xl text-primary-black font-heading-h6-semibold mq825:pt-[39px] mq825:pb-[39px] mq825:box-border mq1450:pl-[30px] mq1450:pr-[30px] mq1450:box-border"
      >
        <div
          class="w-[1216px] flex flex-row items-start justify-start relative max-w-full"
        >
          <div
            class="h-14 w-80 my-0 mx-[!important] absolute bottom-[-24px] left-[0px] flex flex-row items-start justify-between gap-[20px]"
          >
            <button
              class="cursor-pointer [border:none] p-4 bg-primary-black self-stretch w-14 rounded flex flex-row items-center justify-center box-border"
            >
              <img
                class="h-5 w-5 relative"
                alt=""
                src="/public/social-icon.svg"
              />
            </button>
            <button
              class="cursor-pointer p-4 bg-[transparent] h-[58px] w-[58px] rounded box-border flex flex-row items-center justify-center border-[2px] border-solid border-primary-black"
            >
              <img
                class="h-5 w-5 relative object-cover"
                alt=""
                src="/public/social-icon1@2x.png"
              />
            </button>
            <button
              class="cursor-pointer p-4 bg-[transparent] h-[58px] w-[58px] rounded box-border flex flex-row items-center justify-center border-[2px] border-solid border-primary-black"
            >
              <img
                class="h-5 w-5 relative"
                alt=""
                src="/public/social-icon2.svg"
              />
            </button>
            <button
              class="cursor-pointer p-4 bg-[transparent] h-[58px] w-[58px] rounded box-border flex flex-row items-center justify-center border-[2px] border-solid border-primary-black"
            >
              <img
                class="h-5 w-5 relative"
                alt=""
                src="/public/social-icon3.svg"
              />
            </button>
          </div>
          <div
            class="flex-1 overflow-hidden flex flex-row items-center justify-start max-w-full z-[1]"
          >
            <div
              class="w-[600px] overflow-hidden shrink-0 flex flex-row items-center justify-center py-5 px-0 box-border max-w-full mq825:gap-[24px]"
            >
              <div
                class="flex-1 flex flex-col items-start justify-start gap-[32px] max-w-full mq825:gap-[16px]"
              >
                <div
                  class="self-stretch flex flex-col items-start justify-start gap-[20px] max-w-full"
                >
                  <div
                    class="flex flex-row items-start justify-start gap-[16px] max-w-full mq825:flex-wrap"
                  >
                    <h1
                      class="m-0 relative text-inherit tracking-[-0.02em] leading-[56px] font-normal font-inherit mq825:text-19xl mq825:leading-[45px] mq450:text-10xl mq450:leading-[34px]"
                    >
                      Hello I’am
                    </h1>
                    <h1
                      class="m-0 relative text-inherit tracking-[-0.02em] leading-[56px] font-extrabold font-inherit mq825:text-19xl mq825:leading-[45px] mq450:text-10xl mq450:leading-[34px]"
                    >
                      Evren Shah.
                    </h1>
                  </div>
                  <div
                    class="flex flex-row items-start justify-start gap-[16px] max-w-full mq825:flex-wrap"
                  >
                    <h1
                      class="m-0 relative text-inherit tracking-[-0.02em] leading-[56px] font-extrabold font-inherit mq825:text-19xl mq825:leading-[45px] mq450:text-10xl mq450:leading-[34px]"
                    >
                      Frontend
                    </h1>
                    <h1
                      class="m-0 relative text-inherit tracking-[-0.02em] leading-[56px] font-extrabold font-inherit text-[transparent] [-webkit-text-stroke:3px_#000] mq825:text-19xl mq825:leading-[45px] mq450:text-10xl mq450:leading-[34px]"
                    >
                      Developer
                    </h1>
                  </div>
                  <div
                    class="flex flex-row items-start justify-start gap-[16px] max-w-full mq450:flex-wrap"
                  >
                    <h1
                      class="m-0 relative text-inherit tracking-[-0.02em] leading-[56px] font-normal font-inherit mq825:text-19xl mq825:leading-[45px] mq450:text-10xl mq450:leading-[34px]"
                    >
                      Based In
                    </h1>
                    <h1
                      class="m-0 relative text-inherit tracking-[-0.02em] leading-[56px] font-extrabold font-inherit mq825:text-19xl mq825:leading-[45px] mq450:text-10xl mq450:leading-[34px]"
                    >
                      India.
                    </h1>
                  </div>
                </div>
                <div
                  class="self-stretch relative text-base tracking-[0.02em] leading-[24px] text-zinc-500"
                >
                  I'm Evren Shah Lorem Ipsum is simply dummy text of the
                  printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an
                  unknown printer took a galley of type and scrambled it to
                  specimen book.
                </div>
              </div>
            </div>
            <div
              class="h-[596px] flex-1 overflow-hidden flex flex-row items-center justify-center relative max-w-full z-[1] ml-[-273px]"
            >
              <img
                class="h-full w-full absolute my-0 mx-[!important] top-[0px] left-[0px] overflow-hidden shrink-0"
                loading="eager"
                alt=""
                src="/public/frame-20.svg"
              />
            </div>
          </div>
        </div>
      </section>
      <section
        class="self-stretch overflow-hidden flex flex-col items-center justify-center py-[60px] px-20 text-left text-29xl text-primary-black font-heading-h6-semibold mq825:py-[39px] mq825:px-10 mq825:box-border"
      >
        <div
          class="self-stretch overflow-hidden flex flex-col items-start justify-start py-0 px-8 gap-[20px]"
        >
          <div
            class="self-stretch overflow-hidden flex flex-row items-center justify-center py-5 px-0 gap-[16px] mq450:flex-wrap"
          >
            <h1
              class="m-0 relative text-inherit tracking-[-0.02em] leading-[56px] font-normal font-inherit mq825:text-19xl mq825:leading-[45px] mq450:text-10xl mq450:leading-[34px]"
            >
              My
            </h1>
            <h1
              class="m-0 relative text-inherit tracking-[-0.02em] leading-[56px] font-extrabold font-inherit mq825:text-19xl mq825:leading-[45px] mq450:text-10xl mq450:leading-[34px]"
            >
              Skills
            </h1>
          </div>
          <div
            class="self-stretch flex flex-row flex-wrap items-center justify-center py-5 px-0 box-border gap-[71px] min-h-[492px] text-center text-xl mq825:gap-[35px] mq450:gap-[18px]"
          >
            <div
              class="h-[186px] w-[186px] rounded bg-primary-white box-border flex flex-col items-center justify-center py-6 px-[22px] gap-[32px] border-[2px] border-solid border-primary-black"
            >
              <img
                class="w-14 h-14 relative overflow-hidden shrink-0"
                loading="eager"
                alt=""
                src="/public/icongit.svg"
              />

              <b
                class="self-stretch relative tracking-[-0.02em] leading-[24px] capitalize mq450:text-base mq450:leading-[19px]"
                >Git</b
              >
            </div>
            <div
              class="h-[186px] w-[186px] rounded bg-primary-black box-border flex flex-col items-center justify-center py-6 px-[22px] gap-[32px] text-primary-white border-[2px] border-solid border-primary-black"
            >
              <img
                class="w-14 h-14 relative"
                loading="eager"
                alt=""
                src="/public/iconjavscript.svg"
              />

              <b
                class="self-stretch relative tracking-[-0.02em] leading-[24px] capitalize mq450:text-base mq450:leading-[19px]"
                >javascript</b
              >
            </div>
            <div
              class="h-[186px] w-[186px] rounded bg-primary-white box-border flex flex-col items-center justify-center py-6 px-[22px] gap-[32px] border-[2px] border-solid border-primary-black"
            >
              <img
                class="w-14 h-14 relative overflow-hidden shrink-0"
                loading="eager"
                alt=""
                src="/public/iconsass.svg"
              />

              <b
                class="self-stretch relative tracking-[-0.02em] leading-[24px] capitalize mq450:text-base mq450:leading-[19px]"
                >Sass/scss</b
              >
            </div>
            <div
              class="h-[186px] w-[186px] rounded bg-primary-white box-border flex flex-col items-center justify-center py-6 px-[22px] gap-[32px] border-[2px] border-solid border-primary-black"
            >
              <img
                class="w-14 h-14 relative overflow-hidden shrink-0"
                loading="eager"
                alt=""
                src="/public/iconnest.svg"
              />

              <b
                class="self-stretch relative tracking-[-0.02em] leading-[24px] capitalize mq450:text-base mq450:leading-[19px]"
                >Nest.Js</b
              >
            </div>
            <div
              class="h-[186px] w-[186px] rounded bg-primary-white box-border flex flex-col items-center justify-center py-6 px-[22px] gap-[32px] border-[2px] border-solid border-primary-black"
            >
              <img
                class="w-14 h-14 relative overflow-hidden shrink-0"
                loading="eager"
                alt=""
                src="/public/iconstorybook.svg"
              />

              <b
                class="self-stretch relative tracking-[-0.02em] leading-[24px] capitalize mq450:text-base mq450:leading-[19px]"
                >Storybook</b
              >
            </div>
            <div
              class="h-[186px] w-[186px] rounded bg-primary-white box-border flex flex-col items-center justify-center py-6 px-[22px] gap-[32px] border-[2px] border-solid border-primary-black"
            >
              <img
                class="w-14 h-14 relative overflow-hidden shrink-0"
                alt=""
                src="/public/iconnest.svg"
              />

              <b
                class="self-stretch relative tracking-[-0.02em] leading-[24px] capitalize mq450:text-base mq450:leading-[19px]"
                >Nest.Js</b
              >
            </div>
            <div
              class="h-[186px] w-[186px] rounded bg-primary-white box-border flex flex-col items-center justify-center py-6 px-[22px] gap-[32px] border-[2px] border-solid border-primary-black"
            >
              <img
                class="w-14 h-14 relative overflow-hidden shrink-0"
                alt=""
                src="/public/icongit.svg"
              />

              <b
                class="self-stretch relative tracking-[-0.02em] leading-[24px] capitalize mq450:text-base mq450:leading-[19px]"
                >Git</b
              >
            </div>
            <div
              class="h-[186px] w-[186px] rounded bg-primary-white box-border flex flex-col items-center justify-center py-6 px-[22px] gap-[32px] border-[2px] border-solid border-primary-black"
            >
              <img
                class="w-14 h-14 relative overflow-hidden shrink-0"
                alt=""
                src="/public/iconstorybook.svg"
              />

              <b
                class="self-stretch relative tracking-[-0.02em] leading-[24px] capitalize mq450:text-base mq450:leading-[19px]"
                >Storybook</b
              >
            </div>
            <div
              class="h-[186px] w-[186px] rounded bg-primary-white box-border flex flex-col items-center justify-center py-6 px-[22px] gap-[32px] border-[2px] border-solid border-primary-black"
            >
              <img
                class="w-14 h-14 relative overflow-hidden shrink-0"
                loading="eager"
                alt=""
                src="/public/iconsocket.svg"
              />

              <b
                class="self-stretch relative tracking-[-0.02em] leading-[24px] capitalize mq450:text-base mq450:leading-[19px]"
                >Socket.io</b
              >
            </div>
            <div
              class="h-[186px] w-[186px] rounded bg-primary-white box-border flex flex-col items-center justify-center py-6 px-[22px] gap-[32px] border-[2px] border-solid border-primary-black"
            >
              <img
                class="w-14 h-14 relative overflow-hidden shrink-0"
                alt=""
                src="/public/iconsass.svg"
              />

              <b
                class="self-stretch relative tracking-[-0.02em] leading-[24px] capitalize mq450:text-base mq450:leading-[19px]"
                >Sass/scss</b
              >
            </div>
          </div>
        </div>
      </section>
      <section
        class="self-stretch bg-primary-black overflow-hidden flex flex-row items-start justify-start py-[60px] px-20 box-border max-w-full text-left text-29xl text-primary-white font-heading-h6-semibold lg:pt-[39px] lg:pb-[39px] lg:box-border mq825:py-[25px] mq825:px-10 mq825:box-border"
      >
        <div
          class="flex-1 overflow-hidden flex flex-col items-center justify-center py-0 px-8 box-border gap-[20px] max-w-full"
        >
          <div
            class="self-stretch overflow-hidden flex flex-row items-center justify-center py-5 px-0 gap-[16px] mq825:flex-wrap"
          >
            <h1
              class="m-0 relative text-inherit tracking-[-0.02em] leading-[56px] font-normal font-inherit mq825:text-19xl mq825:leading-[45px] mq450:text-10xl mq450:leading-[34px]"
            >
              My
            </h1>
            <h1
              class="m-0 relative text-inherit tracking-[-0.02em] leading-[56px] font-extrabold font-inherit mq825:text-19xl mq825:leading-[45px] mq450:text-10xl mq450:leading-[34px]"
            >
              Experience
            </h1>
          </div>
          <div
            class="self-stretch overflow-hidden flex flex-col items-start justify-start py-10 px-6 box-border gap-[32px] max-w-full text-center text-5xl mq825:gap-[16px] mq825:pt-[26px] mq825:pb-[26px] mq825:box-border"
          >
            <div
              class="self-stretch rounded-3xs box-border flex flex-col items-start justify-start py-[30px] pr-[25px] pl-[23px] gap-[28px] max-w-full border-[1px] border-solid border-zinc-500"
            >
              <div
                class="self-stretch flex flex-row items-center justify-between gap-[-48px] [row-gap:20px] max-w-full mq1450:flex-wrap"
              >
                <div
                  class="w-[1018px] flex flex-row items-center justify-start gap-[30px] max-w-full mq825:flex-wrap"
                >
                  <img
                    class="h-8 w-8 relative overflow-hidden shrink-0"
                    loading="eager"
                    alt=""
                    src="/public/google.svg"
                  />

                  <h3
                    class="m-0 relative text-inherit tracking-[-0.02em] leading-[28px] font-semibold font-inherit inline-block max-w-full mq450:text-lgi mq450:leading-[22px]"
                  >
                    Lead Software Engineer at Google
                  </h3>
                </div>
                <div
                  class="relative text-base tracking-[-0.02em] leading-[20px] font-semibold text-zinc-300 z-[1] lg:ml-0"
                >
                  Nov 2019 - Present
                </div>
              </div>
              <div
                class="self-stretch relative text-base tracking-[0.02em] leading-[24px] text-zinc-300 text-left"
              >
                As a Senior Software Engineer at Google, I played a pivotal role
                in developing innovative solutions for Google's core search
                algorithms. Collaborating with a dynamic team of engineers, I
                contributed to the enhancement of search accuracy and
                efficiency, optimizing user experiences for millions of users
                worldwide.
              </div>
            </div>
            <div
              class="self-stretch rounded-3xs bg-zinc-800 flex flex-col items-start justify-start py-[30px] px-6 box-border gap-[28px] max-w-full"
            >
              <div
                class="self-stretch flex flex-row items-center justify-between gap-[-53px] [row-gap:20px] max-w-full mq1450:flex-wrap"
              >
                <div
                  class="w-[1018px] flex flex-row items-center justify-start gap-[30px] max-w-full mq825:flex-wrap"
                >
                  <img
                    class="h-8 w-8 relative"
                    loading="eager"
                    alt=""
                    src="/public/youtube.svg"
                  />

                  <h3
                    class="m-0 relative text-inherit tracking-[-0.02em] leading-[28px] font-semibold font-inherit inline-block max-w-full mq450:text-lgi mq450:leading-[22px]"
                  >
                    Software Engineer at Youtube
                  </h3>
                </div>
                <div
                  class="relative text-base tracking-[-0.02em] leading-[20px] font-semibold text-zinc-300 z-[1] lg:ml-0"
                >
                  Jan 2017 - Oct 2019
                </div>
              </div>
              <div
                class="self-stretch relative text-base tracking-[0.02em] leading-[24px] text-zinc-300 whitespace-pre-wrap text-left"
              >
                At Youtube, I served as a Software Engineer, focusing on the
                design and implementation of backend systems for the social
                media giant's dynamic platform. Working on projects that
                involved large-scale data processing and user engagement
                features, I leveraged my expertise to ensure seamless
                functionality and scalability.
              </div>
            </div>
            <div
              class="self-stretch rounded-3xs box-border flex flex-col items-start justify-start py-[30px] pr-[25px] pl-[23px] gap-[28px] max-w-full border-[1px] border-solid border-zinc-500"
            >
              <div
                class="self-stretch flex flex-row items-center justify-between gap-[-55px] [row-gap:20px] max-w-full mq1450:flex-wrap"
              >
                <div
                  class="w-[1018px] flex flex-row items-center justify-start gap-[30px] max-w-full mq825:flex-wrap"
                >
                  <img
                    class="h-8 w-8 relative overflow-hidden shrink-0"
                    loading="eager"
                    alt=""
                    src="/public/apple.svg"
                  />

                  <h3
                    class="m-0 relative text-inherit tracking-[-0.02em] leading-[28px] font-semibold font-inherit inline-block max-w-full mq450:text-lgi mq450:leading-[22px]"
                  >
                    Junior Software Engineer at Apple
                  </h3>
                </div>
                <div
                  class="relative text-base tracking-[-0.02em] leading-[20px] font-semibold text-zinc-300 z-[1] lg:ml-0"
                >
                  Jan 2016 - Dec 2017
                </div>
              </div>
              <div
                class="self-stretch h-[72px] relative text-base tracking-[0.02em] leading-[24px] text-zinc-300 text-left flex items-center"
              >
                During my tenure at Apple, I held the role of Software
                Architect, where I played a key role in shaping the architecture
                of mission-critical software projects. Responsible for designing
                scalable and efficient systems, I provided technical leadership
                to a cross-functional team.
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="self-stretch overflow-hidden flex flex-row items-center justify-center py-[60px] px-20 box-border max-w-full text-left text-29xl text-primary-black font-heading-h6-semibold mq825:py-[39px] mq825:px-10 mq825:box-border"
      >
        <div
          class="flex-1 overflow-hidden flex flex-row items-center justify-between py-0 px-8 box-border gap-[20px] max-w-full mq1450:flex-wrap"
        >
          <img
            class="h-[572px] w-[525.4px] relative min-h-[572px] max-w-full mq1450:flex-1"
            loading="eager"
            alt=""
            src="/public/group-1000015845.svg"
          />

          <div
            class="w-[610px] flex flex-col items-start justify-start gap-[20px] min-w-[610px] min-h-[572px] max-w-full lg:min-w-full mq1450:flex-1 mq1450:min-h-[auto]"
          >
            <div
              class="self-stretch flex flex-row items-start justify-start py-5 px-0 gap-[16px] mq450:flex-wrap"
            >
              <h1
                class="m-0 relative text-inherit tracking-[-0.02em] leading-[56px] font-normal font-inherit mq825:text-19xl mq825:leading-[45px] mq450:text-10xl mq450:leading-[34px]"
              >
                About
              </h1>
              <h1
                class="m-0 relative text-inherit tracking-[-0.02em] leading-[56px] font-extrabold font-inherit mq825:text-19xl mq825:leading-[45px] mq450:text-10xl mq450:leading-[34px]"
              >
                Me
              </h1>
            </div>
            <div
              class="self-stretch flex flex-col items-start justify-center gap-[20px] text-base text-zinc-500"
            >
              <div
                class="self-stretch relative tracking-[0.02em] leading-[24px]"
              >
                I'm a passionate, self-proclaimed designer who specializes in
                full stack development (React.js & Node.js). I am very
                enthusiastic about bringing the technical and visual aspects of
                digital products to life. User experience, pixel perfect design,
                and writing clear, readable, highly performant code matters to
                me.
              </div>
              <div
                class="self-stretch relative tracking-[0.02em] leading-[24px]"
              >
                I began my journey as a web developer in 2015, and since then,
                I've continued to grow and evolve as a developer, taking on new
                challenges and learning the latest technologies along the way.
                Now, in my early thirties, 7 years after starting my web
                development journey, I'm building cutting-edge web applications
                using modern technologies such as Next.js, TypeScript, Nestjs,
                Tailwindcss, Supabase and much more.
              </div>
              <div
                class="self-stretch h-[120px] relative tracking-[0.02em] leading-[24px] inline-block"
              >
                When I'm not in full-on developer mode, you can find me hovering
                around on twitter or on indie hacker, witnessing the journey of
                early startups or enjoying some free time. You can follow me on
                Twitter where I share tech-related bites and build in public, or
                you can follow me on GitHub.
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="self-stretch flex flex-row items-start justify-start pt-0 px-0 pb-20 box-border max-w-full text-left text-29xl text-primary-white font-heading-h6-semibold lg:pb-[34px] lg:box-border mq825:pb-[22px] mq825:box-border mq1450:pb-[52px] mq1450:box-border"
      >
        <div
          class="flex-1 bg-primary-black overflow-hidden flex flex-col items-start justify-start py-[60px] px-20 box-border max-w-full lg:pt-[25px] lg:pb-[25px] lg:box-border mq825:pl-10 mq825:pr-10 mq825:box-border mq1450:pt-[39px] mq1450:pb-[39px] mq1450:box-border mq450:pt-5 mq450:pb-5 mq450:box-border"
        >
          <div
            class="self-stretch overflow-hidden flex flex-col items-start justify-start py-0 px-8 box-border gap-[20px] max-w-full"
          >
            <div
              class="self-stretch overflow-hidden flex flex-row items-center justify-center py-5 px-0 gap-[16px] mq450:flex-wrap"
            >
              <h1
                class="m-0 relative text-inherit tracking-[-0.02em] leading-[56px] font-normal font-inherit mq825:text-19xl mq825:leading-[45px] mq450:text-10xl mq450:leading-[34px]"
              >
                My
              </h1>
              <h1
                class="m-0 relative text-inherit tracking-[-0.02em] leading-[56px] font-extrabold font-inherit mq825:text-19xl mq825:leading-[45px] mq450:text-10xl mq450:leading-[34px]"
              >
                Projects
              </h1>
            </div>
            <div
              class="self-stretch overflow-hidden flex flex-row items-center justify-center py-5 px-0 box-border gap-[40px] max-w-full mq825:gap-[20px] mq1450:flex-wrap"
            >
              <div
                class="h-[476px] w-[594px] overflow-hidden shrink-0 flex flex-row items-center justify-start min-w-[594px] max-w-full lg:min-w-full mq1450:flex-1"
              >
                <div
                  class="h-[397.7px] w-[530px] relative rounded-[18.76px] flex items-center justify-center"
                >
                  <img
                    class="h-full w-full max-w-full object-contain absolute left-[0px] top-[12px] [transform:scale(1.191)] mq1450:flex-1"
                    loading="eager"
                    alt=""
                    src="/public/image-771@2x.png"
                  />
                </div>
              </div>
              <div
                class="w-[582px] overflow-hidden flex flex-col items-start justify-center min-w-[378px] max-w-full mq825:min-w-full"
              >
                <div
                  class="self-stretch flex flex-col items-start justify-start gap-[28px]"
                >
                  <div
                    class="self-stretch relative tracking-[-0.02em] leading-[56px] font-extrabold mq825:text-19xl mq825:leading-[45px] mq450:text-10xl mq450:leading-[34px]"
                  >
                    01
                  </div>
                  <h1
                    class="m-0 self-stretch relative text-13xl tracking-[-0.02em] leading-[40px] font-bold font-inherit mq825:text-7xl mq825:leading-[32px] mq450:text-lgi mq450:leading-[24px]"
                  >
                    Crypto Screener Application
                  </h1>
                  <div
                    class="self-stretch relative text-base tracking-[0.02em] leading-[24px] text-zinc-500"
                  >
                    I'm Evren Shah Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an
                    unknown printer took a galley of type and scrambled it to
                    specimen book.
                  </div>
                  <img
                    class="w-5 h-5 relative"
                    loading="eager"
                    alt=""
                    src="/public/read-more.svg"
                  />
                </div>
              </div>
            </div>
            <div
              class="self-stretch overflow-hidden flex flex-row items-center justify-center py-5 px-0 box-border gap-[40px] max-w-full mq825:gap-[20px] mq1450:flex-wrap"
            >
              <div
                class="w-[582px] overflow-hidden flex flex-col items-start justify-center min-w-[378px] max-w-full mq825:min-w-full"
              >
                <div
                  class="self-stretch flex flex-col items-start justify-start gap-[28px]"
                >
                  <div
                    class="self-stretch relative tracking-[-0.02em] leading-[56px] font-extrabold mq825:text-19xl mq825:leading-[45px] mq450:text-10xl mq450:leading-[34px]"
                  >
                    02
                  </div>
                  <h1
                    class="m-0 self-stretch relative text-13xl tracking-[-0.02em] leading-[40px] font-bold font-inherit mq825:text-7xl mq825:leading-[32px] mq450:text-lgi mq450:leading-[24px]"
                  >
                    Euphoria - Ecommerce (Apparels) Website Template
                  </h1>
                  <div
                    class="self-stretch relative text-base tracking-[0.02em] leading-[24px] text-zinc-500"
                  >
                    <p class="m-0">
                      I'm Evren Shah Lorem Ipsum is simply dummy text of the
                      printing and typesetting industry. Lorem Ipsum has been
                      the industry's standard dummy text ever since the 1500s,
                      when an unknown printer took a galley of type and
                      scrambled it to specimen book.
                    </p>
                    <p class="m-0">
                      when an unknown printer took a galley of type and
                      scrambled it to specimen book.
                    </p>
                  </div>
                  <img
                    class="w-5 h-5 relative"
                    alt=""
                    src="/public/read-more.svg"
                  />
                </div>
              </div>
              <div
                class="h-[476px] w-[594px] overflow-hidden shrink-0 flex flex-row items-center justify-end min-w-[594px] max-w-full lg:min-w-full mq1450:flex-1"
              >
                <div
                  class="h-[397.7px] w-[530px] relative rounded-[18.76px] flex items-center justify-center"
                >
                  <img
                    class="h-full w-full max-w-full object-contain absolute left-[0px] top-[12px] [transform:scale(1.191)] mq1450:flex-1"
                    loading="eager"
                    alt=""
                    src="/public/image-770@2x.png"
                  />
                </div>
              </div>
            </div>
            <div
              class="self-stretch overflow-hidden flex flex-row items-center justify-center py-5 px-0 box-border gap-[40px] max-w-full mq825:gap-[20px] mq1450:flex-wrap"
            >
              <div
                class="h-[476px] w-[594px] overflow-hidden shrink-0 flex flex-row items-center justify-start min-w-[594px] max-w-full lg:min-w-full mq1450:flex-1"
              >
                <div
                  class="h-[397.7px] w-[530px] relative rounded-[18.76px] flex items-center justify-center"
                >
                  <img
                    class="h-full w-full max-w-full object-contain absolute left-[0px] top-[12px] [transform:scale(1.191)] mq1450:flex-1"
                    alt=""
                    src="/public/image-770-1@2x.png"
                  />
                </div>
              </div>
              <div
                class="w-[582px] overflow-hidden flex flex-col items-start justify-center min-w-[378px] max-w-full mq825:min-w-full"
              >
                <div
                  class="self-stretch flex flex-col items-start justify-start gap-[30px]"
                >
                  <div
                    class="self-stretch relative tracking-[-0.02em] leading-[56px] font-extrabold mq825:text-19xl mq825:leading-[45px] mq450:text-10xl mq450:leading-[34px]"
                  >
                    03
                  </div>
                  <h1
                    class="m-0 self-stretch relative text-13xl tracking-[-0.02em] leading-[40px] font-bold font-inherit mq825:text-7xl mq825:leading-[32px] mq450:text-lgi mq450:leading-[24px]"
                  >
                    Blog Website Template
                  </h1>
                  <div
                    class="self-stretch relative text-base tracking-[0.02em] leading-[24px] text-zinc-500"
                  >
                    I'm Evren Shah Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an
                    unknown printer took a galley of type and scrambled it to
                    specimen book.
                  </div>
                  <img
                    class="w-5 h-5 relative"
                    alt=""
                    src="/public/read-more.svg"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section
        class="w-[1256px] flex flex-col items-center justify-start py-0 px-5 box-border gap-[40px] min-h-[634px] max-w-full text-left text-29xl text-primary-black font-heading-h6-semibold mq825:gap-[20px]"
      >
        <div
          class="flex flex-row items-start justify-start gap-[16px] max-w-full mq450:flex-wrap"
        >
          <h1
            class="m-0 relative text-inherit tracking-[-0.02em] leading-[56px] font-normal font-inherit mq825:text-19xl mq825:leading-[45px] mq450:text-10xl mq450:leading-[34px]"
          >
            My
          </h1>
          <h1
            class="m-0 relative text-inherit tracking-[-0.02em] leading-[56px] font-extrabold font-inherit mq825:text-19xl mq825:leading-[45px] mq450:text-10xl mq450:leading-[34px]"
          >
            Testimonial
          </h1>
        </div>
        <div
          class="self-stretch overflow-hidden flex flex-row flex-wrap items-start justify-start py-10 px-6 box-border gap-[29px] max-w-full text-center text-base text-primary-neutral mq825:pt-[26px] mq825:pb-[26px] mq825:box-border"
        >
          <div
            class="flex-1 rounded-xl bg-primary-white shadow-[0px_6px_8px_-6px_rgba(24,_39,_75,_0.12),_0px_8px_16px_-6px_rgba(24,_39,_75,_0.08)] flex flex-col items-center justify-start p-10 box-border gap-[24px] min-w-[277px] max-w-full mq450:pt-[26px] mq450:pb-[26px] mq450:box-border"
          >
            <div
              class="w-24 h-24 flex flex-row items-end justify-end pt-[66px] px-0 pb-0 box-border relative gap-[10px]"
            >
              <img
                class="h-full w-full absolute my-0 mx-[!important] top-[0px] right-[0px] bottom-[0px] left-[0px] rounded-[50%] max-w-full overflow-hidden max-h-full object-cover"
                alt=""
                src="/public/ellipse-2664@2x.png"
              />

              <div
                class="my-0 mx-[!important] absolute top-[66px] left-[66px] flex flex-row items-center justify-center w-[30px] h-[30px] z-[1]"
              >
                <div
                  class="h-[30px] w-[30px] relative rounded-[50%] bg-primary-black"
                ></div>
                <img
                  class="h-[31%] w-[43%] absolute my-0 mx-[!important] top-[33.33%] right-[27%] bottom-[35.67%] left-[30%] max-w-full overflow-hidden max-h-full z-[1]"
                  loading="eager"
                  alt=""
                  src="/public/vector.svg"
                />
              </div>
            </div>
            <div class="self-stretch relative tracking-[0.02em] leading-[20px]">
              I recently had to jump on 10+ different calls across eight
              different countries to find the right owner.
            </div>
            <div class="w-[120px] h-0.5 relative bg-primary-black"></div>
            <div
              class="self-stretch relative text-xl tracking-[-0.02em] leading-[24px] capitalize font-semibold mq450:text-base mq450:leading-[19px]"
            >
              Evren Shah
            </div>
            <div
              class="self-stretch relative tracking-[-0.02em] leading-[20px] font-semibold text-zinc-500"
            >
              Designer
            </div>
          </div>
          <div
            class="flex-1 rounded-xl bg-primary-black shadow-[0px_6px_8px_-6px_rgba(24,_39,_75,_0.12),_0px_8px_16px_-6px_rgba(24,_39,_75,_0.08)] flex flex-col items-center justify-start p-10 box-border gap-[24px] min-w-[277px] max-w-full text-primary-white mq450:pt-[26px] mq450:pb-[26px] mq450:box-border"
          >
            <div
              class="w-24 h-24 flex flex-row items-end justify-end pt-[66px] px-0 pb-0 box-border relative gap-[10px]"
            >
              <img
                class="h-full w-full absolute my-0 mx-[!important] top-[0px] right-[0px] bottom-[0px] left-[0px] rounded-[50%] max-w-full overflow-hidden max-h-full object-cover"
                alt=""
                src="/public/ellipse-26641@2x.png"
              />

              <div
                class="my-0 mx-[!important] absolute top-[66px] left-[66px] flex flex-row items-center justify-center w-[30px] h-[30px] z-[1]"
              >
                <div
                  class="h-[30px] w-[30px] relative rounded-[50%] bg-primary-white"
                ></div>
                <img
                  class="h-[31%] w-[43%] absolute my-0 mx-[!important] top-[33.33%] right-[27%] bottom-[35.67%] left-[30%] max-w-full overflow-hidden max-h-full z-[1]"
                  alt=""
                  src="/public/vector1.svg"
                />
              </div>
            </div>
            <div class="self-stretch relative tracking-[0.02em] leading-[20px]">
              I recently had to jump on 10+ different calls across eight
              different countries to find the right owner.
            </div>
            <div class="w-[120px] h-0.5 relative bg-primary-white"></div>
            <div
              class="self-stretch relative text-xl tracking-[-0.02em] leading-[24px] capitalize font-semibold mq450:text-base mq450:leading-[19px]"
            >
              Flora sheen
            </div>
            <div
              class="self-stretch relative tracking-[-0.02em] leading-[20px] font-semibold"
            >
              Designer
            </div>
          </div>
          <div
            class="flex-1 rounded-xl bg-primary-white shadow-[0px_6px_8px_-6px_rgba(24,_39,_75,_0.12),_0px_8px_16px_-6px_rgba(24,_39,_75,_0.08)] flex flex-col items-center justify-start p-10 box-border gap-[24px] min-w-[277px] max-w-full mq450:pt-[26px] mq450:pb-[26px] mq450:box-border"
          >
            <div
              class="w-24 h-24 flex flex-row items-end justify-end pt-[66px] px-0 pb-0 box-border relative gap-[10px]"
            >
              <img
                class="h-full w-full absolute my-0 mx-[!important] top-[0px] right-[0px] bottom-[0px] left-[0px] rounded-[50%] max-w-full overflow-hidden max-h-full object-cover"
                alt=""
                src="/public/ellipse-2664@2x.png"
              />

              <div
                class="my-0 mx-[!important] absolute top-[66px] left-[66px] flex flex-row items-center justify-center w-[30px] h-[30px] z-[1]"
              >
                <div
                  class="h-[30px] w-[30px] relative rounded-[50%] bg-primary-black"
                ></div>
                <img
                  class="h-[31%] w-[43%] absolute my-0 mx-[!important] top-[33.33%] right-[27%] bottom-[35.67%] left-[30%] max-w-full overflow-hidden max-h-full z-[1]"
                  alt=""
                  src="/public/vector.svg"
                />
              </div>
            </div>
            <div class="self-stretch relative tracking-[0.02em] leading-[20px]">
              I recently had to jump on 10+ different calls across eight
              different countries to find the right owner.
            </div>
            <div class="w-[120px] h-0.5 relative bg-primary-black"></div>
            <div
              class="self-stretch relative text-xl tracking-[-0.02em] leading-[24px] capitalize font-semibold mq450:text-base mq450:leading-[19px]"
            >
              Evren Shah
            </div>
            <div
              class="self-stretch relative tracking-[-0.02em] leading-[20px] font-semibold text-zinc-500"
            >
              Designer
            </div>
          </div>
        </div>
      </section>
      <section
        class="self-stretch bg-primary-white overflow-hidden flex flex-col items-start justify-start py-[60px] px-20 box-border max-w-full text-left text-29xl text-primary-black font-heading-h6-semibold mq825:py-[39px] mq825:px-10 mq825:box-border"
      >
        <div
          class="self-stretch overflow-hidden flex flex-row items-center justify-between py-0 px-8 box-border gap-[0px] [row-gap:20px] max-w-full mq1450:flex-wrap"
        >
          <div
            class="w-[608px] overflow-hidden shrink-0 flex flex-col items-start justify-center py-5 px-0 box-border max-w-full"
          >
            <div
              class="self-stretch flex flex-col items-start justify-start gap-[20px] max-w-full"
            >
              <div
                class="w-[500px] h-14 flex flex-col items-start justify-start max-w-full"
              >
                <div
                  class="self-stretch flex-1 rounded box-border flex flex-row items-center justify-start py-4 pr-[25px] pl-[23px] max-w-full border-[1.4px] border-solid border-primary-black"
                >
                  <input
                    class="w-full [border:none] [outline:none] font-heading-h6-semibold text-base bg-[transparent] h-5 flex-1 relative tracking-[-0.02em] leading-[20px] text-zinc-500 text-left inline-block min-w-[250px] max-w-full"
                    placeholder="Your name"
                    type="text"
                  />
                </div>
              </div>
              <div
                class="w-[500px] h-14 flex flex-col items-start justify-start max-w-full"
              >
                <div
                  class="self-stretch flex-1 rounded box-border flex flex-row items-center justify-start py-4 pr-[25px] pl-[23px] max-w-full border-[1.4px] border-solid border-primary-black"
                >
                  <input
                    class="w-full [border:none] [outline:none] font-heading-h6-semibold text-base bg-[transparent] h-5 flex-1 relative tracking-[-0.02em] leading-[20px] text-zinc-500 text-left inline-block min-w-[250px] max-w-full"
                    placeholder="Email"
                    type="text"
                  />
                </div>
              </div>
              <div
                class="w-[500px] h-14 flex flex-col items-start justify-start max-w-full"
              >
                <div
                  class="self-stretch flex-1 rounded box-border flex flex-row items-center justify-start py-4 pr-[25px] pl-[23px] max-w-full border-[1.4px] border-solid border-primary-black"
                >
                  <input
                    class="w-full [border:none] [outline:none] font-heading-h6-semibold text-base bg-[transparent] h-5 flex-1 relative tracking-[-0.02em] leading-[20px] text-zinc-500 text-left inline-block min-w-[250px] max-w-full"
                    placeholder="Your website (If exists)"
                    type="text"
                  />
                </div>
              </div>
              <textarea
                class="bg-[transparent] h-[140px] w-[500px] [outline:none] rounded box-border flex flex-col items-start justify-start py-4 px-[23px] font-heading-h6-semibold text-base text-zinc-500 max-w-full border-[1.4px] border-solid border-primary-black"
                placeholder="How can I help?*"
                rows="{7}"
                cols="{25}"
              >
              </textarea>
              <div
                class="h-14 flex flex-row items-start justify-start gap-[24px] max-w-full"
              >
                <button
                  class="cursor-pointer [border:none] py-4 px-[18px] bg-primary-black rounded flex flex-row items-center justify-center whitespace-nowrap hover:bg-darkslategray"
                >
                  <div
                    class="relative text-xl tracking-[0.02em] leading-[24px] font-semibold font-heading-h6-semibold text-primary-white text-left"
                  >
                    Get In Touch
                  </div>
                </button>
                <button
                  class="cursor-pointer [border:none] p-4 bg-primary-black self-stretch w-14 rounded flex flex-row items-center justify-center box-border"
                >
                  <img
                    class="h-5 w-5 relative"
                    alt=""
                    src="/public/social-icon.svg"
                  />
                </button>
                <button
                  class="cursor-pointer p-4 bg-[transparent] h-[58px] w-[58px] rounded box-border flex flex-row items-center justify-center border-[2px] border-solid border-primary-black"
                >
                  <img
                    class="h-5 w-5 relative object-cover"
                    alt=""
                    src="/public/social-icon1@2x.png"
                  />
                </button>
                <button
                  class="cursor-pointer p-4 bg-[transparent] h-[58px] w-[58px] rounded box-border flex flex-row items-center justify-center border-[2px] border-solid border-primary-black"
                >
                  <img
                    class="h-5 w-5 relative"
                    alt=""
                    src="/public/social-icon2.svg"
                  />
                </button>
                <button
                  class="cursor-pointer p-4 bg-[transparent] h-[58px] w-[58px] rounded box-border flex flex-row items-center justify-center border-[2px] border-solid border-primary-black"
                >
                  <img
                    class="h-5 w-5 relative"
                    alt=""
                    src="/public/social-icon3.svg"
                  />
                </button>
              </div>
            </div>
          </div>
          <div
            class="w-[608px] overflow-hidden shrink-0 flex flex-col items-start justify-center py-5 px-0 box-border max-w-full"
          >
            <div
              class="self-stretch flex flex-col items-start justify-center gap-[40px] min-h-[444px] mq825:gap-[20px]"
            >
              <div
                class="self-stretch flex flex-col items-start justify-start gap-[20px]"
              >
                <div
                  class="self-stretch flex flex-col items-start justify-start gap-[12px]"
                >
                  <div
                    class="self-stretch flex flex-row items-start justify-start gap-[16px] mq450:flex-wrap"
                  >
                    <h1
                      class="m-0 relative text-inherit tracking-[-0.02em] leading-[56px] font-extrabold font-inherit mq825:text-19xl mq825:leading-[45px] mq450:text-10xl mq450:leading-[34px]"
                    >
                      Let’s
                    </h1>
                    <h1
                      class="m-0 relative text-inherit tracking-[-0.02em] leading-[56px] font-extrabold font-inherit text-[transparent] [-webkit-text-stroke:3px_#000] mq825:text-19xl mq825:leading-[45px] mq450:text-10xl mq450:leading-[34px]"
                    >
                      talk
                    </h1>
                    <h1
                      class="m-0 relative text-inherit tracking-[-0.02em] leading-[56px] font-extrabold font-inherit mq825:text-19xl mq825:leading-[45px] mq450:text-10xl mq450:leading-[34px]"
                    >
                      for
                    </h1>
                  </div>
                  <h1
                    class="m-0 self-stretch relative text-inherit tracking-[-0.02em] leading-[56px] font-extrabold font-inherit mq825:text-19xl mq825:leading-[45px] mq450:text-10xl mq450:leading-[34px]"
                  >
                    Something special
                  </h1>
                </div>
                <div
                  class="self-stretch relative text-base tracking-[0.02em] leading-[24px] text-zinc-500"
                >
                  I seek to push the limits of creativity to create
                  high-engaging, user-friendly, and memorable interactive
                  experiences.
                </div>
              </div>
              <div
                class="self-stretch flex flex-col items-start justify-start gap-[16px] text-9xl"
              >
                <h2
                  class="m-0 self-stretch relative text-inherit tracking-[-0.02em] leading-[32px] font-semibold font-inherit whitespace-nowrap mq450:text-3xl mq450:leading-[26px]"
                >
                  Youremail@gmail.com
                </h2>
                <div
                  class="self-stretch relative tracking-[-0.02em] leading-[32px] font-semibold mq450:text-3xl mq450:leading-[26px]"
                >
                  1234567890
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer
        class="self-stretch bg-primary-black overflow-hidden flex flex-row items-start justify-start py-6 px-20 box-border max-w-full text-left text-xl text-primary-white font-heading-h6-semibold mq825:pl-10 mq825:pr-10 mq825:box-border"
      >
        <div
          class="flex-1 overflow-hidden flex flex-row items-center justify-between py-0 px-8 box-border gap-[20px] max-w-full mq825:flex-wrap"
        >
          <div class="flex flex-row items-center justify-start">
            <div class="flex flex-row items-center justify-start gap-[12px]">
              <img
                class="h-10 w-[39.9px] relative overflow-hidden shrink-0"
                alt=""
                src="/public/logo-11.svg"
              />

              <b
                class="relative tracking-[-0.02em] leading-[24px] capitalize mq450:text-base mq450:leading-[19px]"
                >Personal</b
              >
            </div>
          </div>
          <div
            class="flex flex-col items-end justify-start gap-[12px] text-right text-base"
          >
            <div
              class="relative tracking-[-0.02em] leading-[20px] font-semibold"
            >
              @ 2019-2023 Personal
            </div>
            <div
              class="relative tracking-[-0.02em] leading-[20px] font-semibold"
            >
              Made In Figma
            </div>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
