<section class="px-2 md:py-[60px] md:px-20">
    <div class="relative flex flex-col text-center max-w-screen-sm px-4 mx-auto sm:px-6 p-8 md:pb-20">
        <h2 class="text-black text-4xl font-normal md:text-5xl">My
            <span class="font-extrabold">Testimonial</span> 
        </h2>
    </div>
  
  <!-- Container for the Testimonials -->
    <div class="grid gap-6 text-center md:grid-cols-3 lg:gap-12">
        <!-- First Testimonial -->
        <div class="self-stretch flex flex-col py-[30px] px-[23px] gap-[18px] max-w-full border-solid border-zinc-500 rounded-xl shadow-lg items-center">
        <div class="mb-6 flex justify-center">
            <img
            src="testimonial1.svg"
            class="w-32 rounded-full shadow-lg dark:shadow-black/30" />
        </div>
        <p class="mb-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos
            id officiis hic tenetur quae quaerat ad velit ab hic tenetur.
        </p>
        <h5 class="text-xl font-semibold">Maria Smantha</h5>
        <h6 class="font-semibold text-zinc-700">
            Web Developer
        </h6>
        </div>
    
        <!-- Second Testimonial -->
        <div class="self-stretch flex flex-col py-[30px] px-[23px] gap-[18px] max-w-full border-solid border-zinc-500 rounded-xl shadow-lg items-center text-white bg-black">
        <div class="mb-6 flex justify-center">
            <img
            src="ellipse-2664@2x.png"
            class="w-32 rounded-full shadow-lg dark:shadow-black/30" />
        </div>
        <p class="mb-4">
            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis
            suscipit laboriosam, nisi ut aliquid commodi.
        </p>
        <h5 class="text-xl font-semibold">Lisa Cudrow</h5>
        <h6 class="font-semibold text-zinc-300">
            Graphic Designer
        </h6>
        </div>
    
        <!-- Third Testimonial -->
        <div class="self-stretch flex flex-col py-[30px] px-[23px] gap-[18px] max-w-full border-solid border-zinc-500 rounded-xl shadow-lg items-center">
            <div class="mb-6 flex justify-center">
                <img
                src="testimonial1.svg"
                class="w-32 rounded-full shadow-lg dark:shadow-black/30" />
            </div>
            <p class="mb-4 text-neutral-600 dark:text-neutral-300">
                At vero eos et accusamus et iusto odio dignissimos ducimus qui
                blanditiis praesentium voluptatum deleniti atque.
            </p>
            <h5 class="text-xl font-semibold">John Smith</h5>
            <h6 class="font-semibold text-zinc-700">
                Marketing Specialist
            </h6>
        </div>
    </div>
</section>