---
interface Props {
	title: string;
}

const { title } = Astro.props;
import '../styles/utils.css';
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>

    <link rel="stylesheet" href="./global.css" />
    <link rel="stylesheet" href="./index.css" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Sora:wght@400;600;700;800&display=swap"
    />
  </head>
  <body>
    <div class="boy">
      <div class="header">
        <div class="container">
          <div class="logo">
            <img class="logo-1-icon" alt="" src="./public/logo-1.svg" />

            <b class="personal">Personal</b>
          </div>
          <div class="taskbaar">
            <div class="about-me">
              <div class="about-me1">About Me</div>
            </div>
            <div class="about-me">
              <div class="about-me1">Skills</div>
            </div>
            <div class="about-me">
              <div class="about-me1">Project</div>
            </div>
            <div class="about-me">
              <div class="about-me1">Contact me</div>
            </div>
          </div>
          <div class="button">
            <div class="resume">Resume</div>
            <img class="download-icon" alt="" src="./public/download.svg" />
          </div>
        </div>
      </div>
      <div class="hero-section">
        <div class="button-parent">
          <div class="button1">
            <img class="social-icon" alt="" src="./public/social-icon.svg" />
          </div>
          <div class="button2">
            <img
              class="social-icon1"
              alt=""
              src="./public/social-icon@2x.png"
            />
          </div>
          <div class="button2">
            <img class="social-icon" alt="" src="./public/social-icon.svg" />
          </div>
          <div class="button2">
            <img class="social-icon" alt="" src="./public/social-icon.svg" />
          </div>
        </div>
        <div class="container1">
          <div class="banner">
            <div class="frame-parent">
              <div class="frame-group">
                <div class="hello-iam-parent">
                  <div class="hello-iam">Hello I’am</div>
                  <div class="evren-shah">Evren Shah.</div>
                </div>
                <div class="hello-iam-parent">
                  <div class="evren-shah">Frontend</div>
                  <div class="developer">Developer</div>
                </div>
                <div class="hello-iam-parent">
                  <div class="hello-iam">Based In</div>
                  <div class="evren-shah">India.</div>
                </div>
              </div>
              <div class="im-evren-shah">
                I'm Evren Shah Lorem Ipsum is simply dummy text of the printing
                and typesetting industry. Lorem Ipsum has been the industry's
                standard dummy text ever since the 1500s, when an unknown
                printer took a galley of type and scrambled it to specimen book.
              </div>
            </div>
          </div>
          <div class="banner1">
            <img class="banner-child" alt="" src="./public/frame-20.svg" />
          </div>
        </div>
      </div>
      <div class="skills">
        <div class="container2">
          <div class="row">
            <div class="hello-iam">My</div>
            <div class="evren-shah">Skills</div>
          </div>
          <div class="row1">
            <div class="column">
              <div class="skills2">
                <img class="icon-git" alt="" src="./public/icongit.svg" />

                <b class="javascript">Git</b>
              </div>
              <div class="skills3">
                <img
                  class="icon-javscript"
                  alt=""
                  src="./public/iconjavscript.svg"
                />

                <b class="javascript">javascript</b>
              </div>
              <div class="skills2">
                <img class="icon-git" alt="" src="./public/iconsass.svg" />

                <b class="javascript">Sass/scss</b>
              </div>
              <div class="skills2">
                <img class="icon-git" alt="" src="./public/iconnest.svg" />

                <b class="javascript">Nest.Js</b>
              </div>
              <div class="skills2">
                <img class="icon-git" alt="" src="./public/iconstorybook.svg" />

                <b class="javascript">Storybook</b>
              </div>
            </div>
            <div class="column">
              <div class="skills2">
                <img class="icon-git" alt="" src="./public/iconnest.svg" />

                <b class="javascript">Nest.Js</b>
              </div>
              <div class="skills2">
                <img class="icon-git" alt="" src="./public/icongit.svg" />

                <b class="javascript">Git</b>
              </div>
              <div class="skills2">
                <img class="icon-git" alt="" src="./public/iconstorybook.svg" />

                <b class="javascript">Storybook</b>
              </div>
              <div class="skills2">
                <img class="icon-git" alt="" src="./public/iconsocket.svg" />

                <b class="javascript">Socket.io</b>
              </div>
              <div class="skills2">
                <img class="icon-git" alt="" src="./public/iconsass.svg" />

                <b class="javascript">Sass/scss</b>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial">
        <div class="container3">
          <div class="row">
            <div class="hello-iam">My</div>
            <div class="evren-shah">Experience</div>
          </div>
          <div class="row3">
            <div class="experience1">
              <div class="frame-container">
                <div class="google-parent">
                  <img class="google-icon" alt="" src="./public/google.svg" />

                  <div class="lead-software-engineer">
                    Lead Software Engineer at Google
                  </div>
                </div>
                <div class="nov-2019-">Nov 2019 - Present</div>
              </div>
              <div class="as-a-senior">
                As a Senior Software Engineer at Google, I played a pivotal role
                in developing innovative solutions for Google's core search
                algorithms. Collaborating with a dynamic team of engineers, I
                contributed to the enhancement of search accuracy and
                efficiency, optimizing user experiences for millions of users
                worldwide.
              </div>
            </div>
            <div class="experience2">
              <div class="frame-container">
                <div class="google-parent">
                  <img class="youtube-icon" alt="" src="./public/youtube.svg" />

                  <div class="lead-software-engineer">
                    Software Engineer at Youtube
                  </div>
                </div>
                <div class="nov-2019-">Jan 2017 - Oct 2019</div>
              </div>
              <div class="as-a-senior1">
                At Youtube, I served as a Software Engineer, focusing on the
                design and implementation of backend systems for the social
                media giant's dynamic platform. Working on projects that
                involved large-scale data processing and user engagement
                features, I leveraged my expertise to ensure seamless
                functionality and scalability.
              </div>
            </div>
            <div class="experience1">
              <div class="frame-container">
                <div class="google-parent">
                  <img class="google-icon" alt="" src="./public/apple.svg" />

                  <div class="lead-software-engineer">
                    Junior Software Engineer at Apple
                  </div>
                </div>
                <div class="nov-2019-">Jan 2016 - Dec 2017</div>
              </div>
              <div class="as-a-senior">
                During my tenure at Apple, I held the role of Software
                Architect, where I played a key role in shaping the architecture
                of mission-critical software projects. Responsible for designing
                scalable and efficient systems, I provided technical leadership
                to a cross-functional team.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="about-me8">
        <div class="container">
          <img
            class="container-child"
            alt=""
            src="./public/group-1000015845.svg"
          />

          <div class="frame-parent2">
            <div class="my-parent">
              <div class="hello-iam">About</div>
              <div class="evren-shah">Me</div>
            </div>
            <div class="im-a-passionate-self-proclai-parent">
              <div class="im-a-passionate">
                I'm a passionate, self-proclaimed designer who specializes in
                full stack development (React.js & Node.js). I am very
                enthusiastic about bringing the technical and visual aspects of
                digital products to life. User experience, pixel perfect design,
                and writing clear, readable, highly performant code matters to
                me.
              </div>
              <div class="im-a-passionate">
                I began my journey as a web developer in 2015, and since then,
                I've continued to grow and evolve as a developer, taking on new
                challenges and learning the latest technologies along the way.
                Now, in my early thirties, 7 years after starting my web
                development journey, I'm building cutting-edge web applications
                using modern technologies such as Next.js, TypeScript, Nestjs,
                Tailwindcss, Supabase and much more.
              </div>
              <div class="im-a-passionate">
                When I'm not in full-on developer mode, you can find me hovering
                around on twitter or on indie hacker, witnessing the journey of
                early startups or enjoying some free time. You can follow me on
                Twitter where I share tech-related bites and build in public, or
                you can follow me on GitHub.
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="project">
        <div class="container2">
          <div class="row">
            <div class="hello-iam">My</div>
            <div class="evren-shah">Projects</div>
          </div>
          <div class="project-1">
            <div class="image">
              <img
                class="image-771-icon"
                alt=""
                src="./public/image-771@2x.png"
              />
            </div>
            <div class="details">
              <div class="parent">
                <div class="div">01</div>
                <b class="crypto-screener-application"
                  >Crypto Screener Application</b
                >
                <div class="im-evren-shah">
                  I'm Evren Shah Lorem Ipsum is simply dummy text of the
                  printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an
                  unknown printer took a galley of type and scrambled it to
                  specimen book.
                </div>
                <img class="social-icon" alt="" src="./public/read-more.svg" />
              </div>
            </div>
          </div>
          <div class="project-1">
            <div class="details">
              <div class="parent">
                <div class="div">02</div>
                <b class="crypto-screener-application"
                  >Euphoria - Ecommerce (Apparels) Website Template</b
                >
                <div class="im-evren-shah">
                  <p class="when-an-unknown">
                    I'm Evren Shah Lorem Ipsum is simply dummy text of the
                    printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an
                    unknown printer took a galley of type and scrambled it to
                    specimen book.
                  </p>
                  <p class="when-an-unknown">
                    when an unknown printer took a galley of type and scrambled
                    it to specimen book.
                  </p>
                </div>
                <img class="social-icon" alt="" src="./public/read-more.svg" />
              </div>
            </div>
            <div class="image1">
              <img
                class="image-771-icon"
                alt=""
                src="./public/image-770@2x.png"
              />
            </div>
          </div>
          <div class="project-1">
            <div class="image">
              <img
                class="image-771-icon"
                alt=""
                src="./public/image-770@2x.png"
              />
            </div>
            <div class="details">
              <div class="parent1">
                <div class="div">03</div>
                <b class="crypto-screener-application">Blog Website Template</b>
                <div class="im-evren-shah">
                  I'm Evren Shah Lorem Ipsum is simply dummy text of the
                  printing and typesetting industry. Lorem Ipsum has been the
                  industry's standard dummy text ever since the 1500s, when an
                  unknown printer took a galley of type and scrambled it to
                  specimen book.
                </div>
                <img class="social-icon" alt="" src="./public/read-more.svg" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="testimonial1">
        <div class="container3">
          <div class="row">
            <div class="hello-iam">My</div>
            <div class="evren-shah">Testimonial</div>
          </div>
          <div class="row5">
            <div class="testimonial3">
              <div class="ellipse-parent">
                <img
                  class="frame-child"
                  alt=""
                  src="./public/ellipse-2664@2x.png"
                />

                <div class="ellipse-group">
                  <div class="frame-item"></div>
                  <img class="vector-icon" alt="" src="./public/vector.svg" />
                </div>
              </div>
              <div class="i-recently-had">
                I recently had to jump on 10+ different calls across eight
                different countries to find the right owner.
              </div>
              <div class="testimonial-child"></div>
              <div class="evren-shah1">Evren Shah</div>
              <div class="designer">Designer</div>
            </div>
            <div class="testimonial4">
              <div class="ellipse-parent">
                <img
                  class="frame-child"
                  alt=""
                  src="./public/ellipse-2664@2x.png"
                />

                <div class="ellipse-group">
                  <div class="ellipse-div"></div>
                  <img class="vector-icon" alt="" src="./public/vector.svg" />
                </div>
              </div>
              <div class="i-recently-had">
                I recently had to jump on 10+ different calls across eight
                different countries to find the right owner.
              </div>
              <div class="testimonial-item"></div>
              <div class="evren-shah1">Flora sheen</div>
              <div class="designer1">Designer</div>
            </div>
            <div class="testimonial3">
              <div class="ellipse-parent">
                <img
                  class="frame-child"
                  alt=""
                  src="./public/ellipse-2664@2x.png"
                />

                <div class="ellipse-group">
                  <div class="frame-item"></div>
                  <img class="vector-icon" alt="" src="./public/vector.svg" />
                </div>
              </div>
              <div class="i-recently-had">
                I recently had to jump on 10+ different calls across eight
                different countries to find the right owner.
              </div>
              <div class="testimonial-child"></div>
              <div class="evren-shah1">Evren Shah</div>
              <div class="designer">Designer</div>
            </div>
          </div>
        </div>
      </div>
      <div class="contact-form">
        <div class="container7">
          <div class="column2">
            <div class="frame-group">
              <div class="component-1">
                <div class="your-name-wrapper">
                  <div class="your-name">Your name</div>
                </div>
              </div>
              <div class="component-1">
                <div class="your-name-wrapper">
                  <div class="your-name">Email</div>
                </div>
              </div>
              <div class="component-1">
                <div class="your-name-wrapper">
                  <div class="your-name">Your website (If exists)</div>
                </div>
              </div>
              <div class="component-1">
                <div class="how-can-i-help-wrapper">
                  <div class="how-can-i">How can I help?*</div>
                </div>
              </div>
              <div class="button5">
                <div class="button6">
                  <div class="resume">Get In Touch</div>
                </div>
                <div class="button1">
                  <img
                    class="social-icon"
                    alt=""
                    src="./public/social-icon.svg"
                  />
                </div>
                <div class="button2">
                  <img
                    class="social-icon1"
                    alt=""
                    src="./public/social-icon@2x.png"
                  />
                </div>
                <div class="button2">
                  <img
                    class="social-icon"
                    alt=""
                    src="./public/social-icon.svg"
                  />
                </div>
                <div class="button2">
                  <img
                    class="social-icon"
                    alt=""
                    src="./public/social-icon.svg"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="column3">
            <div class="text">
              <div class="frame-group">
                <div class="frame-parent4">
                  <div class="lets-parent">
                    <div class="evren-shah">Let’s</div>
                    <div class="developer">talk</div>
                    <div class="evren-shah">for</div>
                  </div>
                  <div class="div">Something special</div>
                </div>
                <div class="im-evren-shah">
                  I seek to push the limits of creativity to create
                  high-engaging, user-friendly, and memorable interactive
                  experiences.
                </div>
              </div>
              <div class="youremailgmailcom-parent">
                <div class="youremailgmailcom">Youremail@gmail.com</div>
                <div class="youremailgmailcom">1234567890</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="container">
          <div class="logo-wrapper">
            <div class="logo">
              <img class="logo-1-icon" alt="" src="./public/logo-1.svg" />

              <b class="personal">Personal</b>
            </div>
          </div>
          <div class="personal-parent">
            <div class="made-in-figma">@ 2019-2023 Personal</div>
            <div class="made-in-figma">Made In Figma</div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
