---
// import CSS
import '../styles/global.css';
// import '../styles/index.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/logo-1.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio</title>
		<link href="https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap" rel="stylesheet">
	</head>
	<body class="bg-white font-Sora">
		<slot />
	</body>
</html>