---
// import CSS
import '../styles/global.css';
import '../styles/index.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Portfolio</title>
	</head>
	<body class="bg-white">
		<slot />
	</body>
</html>